
	<div class="website_end" id="website_final" data-id="18">
                    <h2>Email : {{mail}}</h2>
                    <h2>tel : {{tel}}</h2>
					<div class="website_end-table-content">
						<table class="website_end-table" id="website_end-table">
							<tr>
								<td>Avez-vous un logo ?</td>
								<td>
									<span class="template">{{logo}}</span>
								</td>
							</tr>
							<tr>
								<td>Avez-vous un slogan ?</td>
								<td>
									<span class="nbpages">{{slogan}}</span>
								</td>
							</tr>

							<tr>
								<td>Avez-vous un site web ?</td>
								<td>
									<span class="nbslides">{{siteweb}}</span>
								</td>
							</tr>

							<tr>
								<td>Avez-vous une charte graphique ?</td>
								<td>
									<span class="nbpageadmin">{{charte}}</span>
								</td>
							</tr>

							<tr>
								<td>Avez-vous des cartes de visite ?</td>
								<td>
									<span class="pageactu">{{cartes}}</span>
								</td>
							</tr>
							<tr>
								<td>Avez-vous un prospectus de présentation de votre entreprise ?</td>
								<td>
									<span class="responsive">{{prospectus}}</span>
								</td>
							</tr>
							<tr>
								<td>Achetez-vous de la publicité ?</td>
								<td>
									<span class="seo">{{publicite}}</span>
								</td>
							</tr>
							<tr>
								<td>Votre véhicule de société est-il sérigraphié ?</td>
								<td>
									<span class="redaction">{{serigraphie}}</span>
								</td>
							</tr>
							<tr>
								<td>Votre local professionnel est-il signalisé ?</td>
								<td>
									<span class="logo">{{signalise}}</span>
								</td>
							</tr>
							<tr>
								<td>Participez-vous à des foires ou salons ?</td>
								<td>
									<span class="newsletter">{{foirs}}</span>
								</td>
							</tr>
						
						
						
						</table>
					</div>
					
				</div>