
	<div class="website_end" id="website_final" data-id="18">
					<div class="website_end-title">Voici la demande de devis pour Site vitrine</div>
                    <h2>NOM : {{nom}}</h2><br>
                    <h2>Email : {{adressemail}}</h2><br>
                    <h2>tel : {{tel}}</h2><br>
					<div class="website_end-table-content">
						<table class="website_end-table" id="website_end-table">
							<tr>
								<td>Souhaitez-vous partir d'une base Template ? (plus économique)</td>
								<td>
									<span class="template">{{template}}</span>
								</td>
							</tr>
							<tr>
								<td>Nombre de page</td>
								<td>
									<span class="nbpages">{{nbpages}}</span>
								</td>
							</tr>

							<tr>
								<td>Nombre de slide</td>
								<td>
									<span class="nbslides">{{nbslides}}</span>
								</td>
							</tr>

							<tr>
								<td>Souhaitez-vous une ou plusieurs pages administrables ?</td>
								<td>
									<span class="nbpageadmin">{{administration}}</span>
								</td>
							</tr>

							<tr>
								<td>Souhaitez-vous une page actualité ?</td>
								<td>
									<span class="pageactu">{{actualite}}</span>
								</td>
							</tr>
							<tr>
								<td>Optimisation tablette et mobile</td>
								<td>
									<span class="responsive">{{responsive}}</span>
								</td>
							</tr>
							<tr>
								<td>Optimisation au référencement naturel</td>
								<td>
									<span class="seo">{{referencement}}</span>
								</td>
							</tr>
							<tr>
								<td>Faut-il prévoir de la rédaction de contenu ?</td>
								<td>
									<span class="redaction">{{redaction}}</span>
								</td>
							</tr>
							<tr>
								<td>Possédez-vous un logo ?</td>
								<td>
									<span class="logo">{{logo}}</span>
								</td>
							</tr>
							<tr>
								<td>Souhaitez-vous pouvoir envoyer des E-mailing ou une Newsletter ?</td>
								<td>
									<span class="newsletter">{{emailing}}</span>
								</td>
							</tr>
							<tr>
								<td>Souhaitez-vous un système de paiement en ligne ?</td>
								<td>
									<span class="commande">{{paiement}}</span>
								</td>
							</tr>
							<tr>
								<td>Souhaitez-vous un formulaire de contact simple ou complexe ?</td>
								<td>
									<span class="formulaire">{{formcomplex}}</span>
								</td>
							</tr>
							<tr>
								<td>Souhaitez-vous intégrer un ou des modules multimédia ?</td>
								<td>
									<span class="multimédia">{{multimedia}}</span>
								</td>
							</tr>
							<tr>
								<td>Souhaitez-vous intégrer un catalogue ?</td>
								<td>
									<span class="catalogue">{{catalogue}}</span>
								</td>
							</tr>
							<tr>
								<td>Souhaitez-vous un système de réservation en ligne ?</td>
								<td>
									<span class="réservation">{{reservation}}</span>
								</td>
							</tr>
							<tr>
								<td>Souhaitez-vous des statistiques de fréquentation pour votre site ?</td>
								<td>
									<span class="statistiques">{{statistiques}}</span>
								</td>
							</tr>
						</table>
					</div>
					
				</div>