{% extends 'base.html.twig' %}
{% block title %}
	CREATIV | Développement web Création de site web Paris et Oran
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('asset/css/website.css')}}">
	<link rel="stylesheet" href="{{asset('asset/css/1.css')}}">
	<link rel="stylesheet" href="{{asset('asset/css/2.css')}}">
	<link rel="stylesheet" href="{{asset('asset/css/3.css')}}">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

{% endblock %}
{% block body %}

	<main>

		<div class="module-slide">
			<div
				id="slider1_container" style="position:relative;margin:0 auto;top:0;left:0;width:1600px;height:600px;overflow:hidden;">
				<!-- Slides Container -->
				<div u="slides" style="cursor:move;position:absolute;left:0;top:0;width:1600px;height:600px;overflow:hidden;">
					<div><img u="image" src="asset/tmp/slide/bureau-mac-199.jpg" alt="bureau mac"></div>

				</div>
				<!-- Arrow Navigator Skin Begin -->
				<span u="arrowleft" class="jssora21l" style="width:55px;height:55px;top:123px;left:8px;"></span>
				<span u="arrowright" class="jssora21r" style="width:55px;height:55px;top:123px;right:8px"></span>
				<div u="navigator" class="jssorb17" style="position:absolute;bottom:16px;right:6px;">
					<div u="prototype" style="position:absolute;width:16px;height:16px;"></div>
				</div>
				<!-- Arrow Navigator Skin End -->
			</div>
		</div>


		<!--******************************
				    MODULE TITRE
				*******************************-->
		<div class="module-titre">
			<h1>
				<div class="module-titre-principal">Des experts en communication digitale
					<br>, Développement Web, système d'information</div>
				<div class="module-titre-secondaire">Agence digitale CREATIV : 2017 > 2024, presque 8 ans déjà !
				</div>
			</h1>
		</div>


		<!--******************************
				    MODULE TEXTE
				    MODULE INSPIRATION
				*******************************-->


		<div class="module-texte">
			<h2>CREATIV, l’histoire...<br><br></h2>
			<p>
				<strong>CREATIV</strong>
				fut créée en 2017 par Mehdi Boumediene et Meraiki Halima, deux passionnés des arts numériques et des technologies de l’information. Mehdi, senior développeur web et consultant en systèmes d’information, et Halima, designer talentueuse et product owner aguerrie, ont décidé d’unir leurs expertises pour donner vie à un projet ambitieux, fondé sur une vision commune : associer créativité et technologie pour offrir des solutions de communication uniques et percutantes.</p>
			<p>
				Depuis ses débuts, CREATIV a pour vocation d’accompagner les professionnels dans la création d’une identité forte et harmonieuse, quels que soient les supports utilisés. En tant qu’agence de communication digitale et fournisseur de solutions en systèmes d’information, nous avons élargi notre champ d’action pour proposer une gamme de services variée et complète.<br><br></p>
			<h3>Notre mission ?</h3>
			<p>Aider les entreprises à concevoir et réaliser des éléments de communication parfaitement alignés tout en optimisant leurs systèmes d’information, afin de garantir une cohérence irréprochable et une image de marque solide. Que ce soit à travers le design, le développement web ou l’intégration de solutions technologiques, CREATIV s'engage à offrir un accompagnement personnalisé pour répondre aux besoins les plus exigeants.</p>
			<hr/>
			<p><br></p>
		</div>


		<div class="module-inspiration" style="background:#e3e3e3;">
			<div class="module-inspiration-content">
				<div class="module-inpiration-float-left">
					<img src="asset/tmp/inspiration/module-artiste-publicite-899.png" alt="artiste et publicité">
				</div>
				<div class="module-inpiration-float-right">
					<p class="module-inspiration-titre" style="color:#444444;">Quand l'art devient publicité</p>
					<p class="module-inspiration-texte" style="color:#444444;">L’art et la publicité sont deux phénomènes culturels intimement liés entre eux. Le ciment de cette relation n’est rien d’autre que la créativité. L’artiste puise dans la créativité pour donner corps à son œuvre tandis que le marketeur va l’associer à un sujet (ce pourquoi il communique) pour donner vie à sa publicité.
						<br><br>La création artistique et la création publicitaire ont la même origine mais pas la même destination. Notre idée est de faire converger sur un même point ces deux processus.</p>
				</div>
			</div>
		</div>


		<div class="module-texte">
			<p class='module-texte-titre'>CREATIV, des services
				<br>qui répondent à tous vos besoins !
			</p>
			<p><br></p>
			<ul>
				<li>Des tarifs compétitifs,<br></li>
				<li>Un service commercial à votre écoute pour vous conseiller,<br></li>
				<li>Des créatifs dédiés à votre projet,<br></li>
				<li>Un suivi de la réalisation en temps réel,<br></li>
				<li>Un travail possible à distance [via Internet...],<br></li>
				<li>Des formules de communication complètes,<br></li>
				<li>Une conception graphique originale et sur-mesure,<br></li>
				<li>La garantie et le sérieux d'une équipe dynamique et réactive,<br></li>
				<li>Information, étude et devis gratuits,<br></li>
				<li>Une pré-maquette sans engagement !!*<br><br></li>
			</ul>
			<p>
				<strong>
					<p class='module-texte-titre'>Qualité des produits :</p>
				</strong>
				<br>
				Nous nous engageons sur le choix de nos produits,<br><br>

				<strong>
					<p class='module-texte-titre'>Rapport qualité/prix :</p>
				</strong><br>
				Nous nous engageons à vous offrir le meilleur rapport qualité/prix.<br><br>
				<strong>
					<p class='module-texte-titre'>Service après-vente :</p>
				</strong><br>
				Le service est notre métier. Nous nous engageons à assurer le service après-vente des services et produits installés par nos soins.
				<br><br>
				<strong>
					<p class='module-texte-titre'>Qualité du conseil :</p>
				</strong><br>
				Nous nous engageons par notre expérience et notre professionnalisme à vous apporter les réponses les mieux adaptés à vos attentes.
				<br><br>
				<strong>
					<p class='module-texte-titre'>Respect des délais :</p>
				</strong><br>
				Nous nous engageons à respecter les délais d'intervention convenue lors de votre commande.
				<br><br>
				<strong>
					<p class='module-texte-titre'>Garantie des produits et services :</p>
				</strong><br>
				Tous les produits et services que nous proposons disposent d'une garantie fabricant.<br><br>
				<strong>
					<p class='module-texte-titre'>Financement :</p>
				</strong><br>
				Nous mettons à votre disposition plusieurs formules afin de facilité votre financement.
				<br><br>
			</p>
			<hr/>
			<p><br></p>
			<p class='module-texte-titre'>Une expertise qui s'étend à tous les secteurs
			</p>
			<p><br>
				Artisans, administrations, banques et assurances, hôtellerie, restauration, commerces, la grande distribution, industrie, pharmacies, services, transport...
				<br><br>
				Salon de coiffure, institut de beauté, restaurant, hôtel, pharmacie, garage automobile, boulangerie, pâtisserie, traiteur, charcuterie, plombier, chauffagiste, électricien, magasin de vêtements, mode, magasin de cigarette électronique, spécialiste en climatisation, fast food, bar, café, industrie, distribution, dentiste, docteur, vétérinaire, architecte, charpentier, ...</p>
		</div>


		<div class="module-texte">
			<p class='module-texte-titre'>CREATIV ?</p>
			<p><br></p>
			<h2>C'est une agence digitale
				<br>
				et de solutions en ingénierie informatique</h2>
			<p><br>
				<strong>CREATIV est une agence de communication</strong>
				située à Nœux-les-Mines, dans le nord de la France. Nous intervenons essentiellement dans les départements du Nord Pas-de-Calais (59 et 62). Toutefois, nous expédions dans la France entière et proposons un très grand nombre de produits et
				<strong>services publicitaires</strong>.
				<br></p>
			<p class='module-texte-titre'>Notre métier :</p>
			<p><br>
				Vous accompagner et vous conseiller dans la réflexion globale de votre
				<strong>communication</strong>
				d’entreprise et dans l’intégration de solutions en
				<strong>ingénierie informatique</strong>, afin de développer au mieux votre activité et optimiser vos performances.

				<br></p>
			<p class='module-texte-titre'>Nos atouts :</p>
			<p><br>
				Notre écoute pour déterminer ensemble vos besoins, et notre adaptabilité pour répondre au mieux à vos attentes. Notre
				<strong>studio de création graphique</strong>
				est un département à part entière. Nos
				<strong>graphistes</strong>
				conçoivent tous vos
				<strong>projets graphiques et publicitaires</strong>
				: création de logo, refonte d’identité, charte graphique...</p>
			<p>Nous réalisons ainsi avec créativité leur déclinaison sur tous types de supports (plaquette commerciale, cartes de visites, affiches, flyers, enseignes, décoration et habillage de véhicules, signalétique...).
				<br></p>
			<p class='module-texte-titre'>Notre objectif :</p>
			<p><br>
				Concevoir des
				<strong>supports publicitaires</strong>
				attrayants et esthétiques à votre image tout en respectant votre enveloppe budgétaire !
				<br><br><br></p>
			<hr/>
			<p class='module-texte-titre'>Notre leitmotiv :</p>
			<p><br>
				Vous offrir des produits à la qualité irréprochable en
				<strong>impression offset et/ou numérique</strong>
				et au juste prix.
				<strong>L’impression</strong>
				de nos travaux est réalisée par des professionnels de
				<strong>l’imprimerie</strong>
				soucieux du respect des délais.<br><br>
				Forts de près de 20 ans d’exercice, nous détenons une réelle expérience en
				<strong>enseigne</strong>
				et
				<strong>signalétique</strong>
				: enseigne bandeau ou drapeau, enseigne lumineuse, enseigne de toit, habillage de façade, lettre découpée ou lettre boitier, totem, panneau mural, bi-mât, aménagement pour stands, etc... sans oublier le marquage publicitaire total ou partiel pour votre flotte de véhicules.<br><br>
				Quel que soit votre commerce ou type d’activité, nous saurons vous guider dans le choix de votre future
				<strong>identité graphique</strong>
				pour vous démarquer de la concurrence. Nous assurons aussi, si besoin, la
				<strong>fabrication et la pose de votre enseigne ou signalétique</strong>. La pose est effectuée par nos propres équipes de poseurs, habilitées et diplômées.
				<br><br>
				Enfin, pour développer aujourd’hui votre business, il est indispensable d’avoir une existence sur le
				<strong>web</strong>. Nous pouvons vous accompagner dans votre démarche et
				<strong>créer</strong>
				pour vous un
				<strong>site internet original et design</strong>,
				<strong>site vitrine ou site d’e-commerce</strong>. Nous assurons l’hébergement sécurisé et vous proposons un forfait “clé en main” sans engagement de durée.
				<br>Pas de doutes,
				<strong>CREATIV</strong>
				est LA réponse à tous vos besoins en
				<strong>communication</strong>.</p>
		</div>


		<div class="module-inspiration" style="background:#e3e3e3;">
			<div class="module-inspiration-content">
				<div class="module-inpiration-float-right">
					<p class="module-inspiration-titre" style="color:#444444;">Des solutions personnalisées !</p>
					<p class="module-inspiration-texte" style="color:#444444;">Vous ne trouvez pas ce que vous cherchez ?
						<br>
						Si vous ne trouvez pas ce dont vous avez besoin parmi les produits disponibles sur notre site, contactez-nous pour qu'un de nos conseillers vous propose un devis personnalisé.
												(produits hors catalogue, quantités sur-mesure, configurations personnalisées...)
					</p>
					<p class="module-inspiration-lien">
						<a href="nous-contacter.html" style="color:#444444;">Contactez-nous
						</a>
					</p>
				</div>
				<div class="module-inpiration-float-left">
					<img src="asset/tmp/inspiration/chapeau-solutions-187.png" alt="Custom solutions ">
				</div>
			</div>
		</div>


		<div class="module-inspiration" style="background:#f0f0f0;">
			<div class="module-inspiration-content">
				<div class="module-inpiration-float-left">
					<img src="asset/tmp/inspiration/service-heros-copie-824.png" alt="sav idgraphique">
				</div>
				<div class="module-inpiration-float-right">
					<p class="module-inspiration-titre" style="color:#444444;">Après la vente...
						<br>le service !</p>
					<p class="module-inspiration-texte" style="color:#444444;">Assistance téléphonique : 03.21.64.10.84<br>
						Assistance technique : 06.44.27.31.77<br>
						Service comptabilité : comptabilité@idgraphique.fr<br>
						Service P.A.O : pao@idgraphique.fr<br>
					</p>
					<p class="module-inspiration-lien">
						<a href="nous-contacter.html" style="color:#444444;">Plus d'infos</a>
					</p>
				</div>
			</div>
		</div>


		<div class="module-inspiration" style="background:#ababab;">
			<div class="module-inspiration-content">
				<div class="module-inpiration-float-right">
					<p class="module-inspiration-titre" style="color:#FFFFFF;">Une équipe de poseurs qualifiés à votre service !</p>
					<p class="module-inspiration-texte" style="color:#FFFFFF;">Qu’il soit question d’enseigne, d’habillage façade ou de signalétique, les poses réalisées sur votre site sont toujours menées par nos équipes de poseurs professionnels et chevronnés.
												Quelques soient les contraintes inhérentes à votre projet, notre responsable technique (dirigeant les poseurs) saura mettre en place les meilleures solutions en parfaite adéquation avec votre cas de figure.
						<br><br>
						Où que vous soyez en France métropolitaine, qu’il soit question d’installation en hauteur, de scellement béton,
												de pose sur bâtiment et monument classé (dossier ABF), de pose de nuit, ou de la gestion de plusieurs sites, (etc…)
												CREATIV s’occupe de tout de bout en bout, des démarches administratives à la pose. Toutes nos poses sont vérifiées et garanties.
					</p>
					<p class="module-inspiration-lien">
						<a href="nous-contacter.html" style="color:#FFFFFF;">Demander une étude
						</a>
					</p>
				</div>
				<div class="module-inpiration-float-left">
					<img src="asset/tmp/inspiration/label-depuis-2002-copie-598-copie-987.png" alt="">
				</div>
			</div>
		</div>


	</main>
	<div class="bubble-question" id="bubble-question">
		<span class="bubble-question-tooltip">VOUS AVEZ DES QUESTIONS ?</span>
		<div class="bubble-question-content" id="bubble-question-content">
			<div class="bubble-question-content-title">
				VOUS AVEZ DES QUESTIONS ?
			</div>
			<div class="bubble-question-content-close" id="bubble-question-content-close">
				&times;
			</div>
			<div class="bubble-question-container-1" id="bubble-question-container-1">
				<div class="bubble-question-container-1-line bubble-question-container-1-line-1">
					Téléphonez-nous :<br/>0554 29 35 40
					<i class="fas fa-phone" aria-hidden></i>
				</div>
				<div class="bubble-question-container-1-line bubble-question-container-1-line-2" id="bubble-question-container-1-line-2">
					Cliquez ici pour nous<br/>laisser un message
					<i class="fas fa-envelope" aria-hidden></i>
				</div>
			</div>
			<div class="bubble-question-container-2" id="bubble-question-container-2">
				<label for="bubble-input-1">Nom :</label>
				<input type="text" name="name" id="bubble-input-1" autocomplete="off"/>
				<label for="bubble-input-2">Email :</label>
				<input type="text" name="email" id="bubble-input-2" autocomplete="off"/>
				<label for="bubble-input-3">Message :</label>
				<textarea name="content" id="bubble-input-3"></textarea>
				<div class="bubble-btn" id="bubble-btn" data-link="../../asset/core/live-contact.html">
					Envoyer
				</div>
			</div>
		</div>
	</div>


	<script src="{{asset('asset/js/def1.js')}}"></script>

	<script src="{{asset('asset/js/min/app.minc61c.js?id=e8617fbfb7694bb14a80514d77aa7472ab6376a1')}}" async></script>
	<noscript id="deferred-styles">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,400italic,700"/>
	</noscript>


	<script>
		var loadDeferredStyles = function () {
var addStylesNode = document.getElementById("deferred-styles");
var replacement = document.createElement("div");
replacement.innerHTML = addStylesNode.textContent;
document.body.appendChild(replacement)
addStylesNode.parentElement.removeChild(addStylesNode);
};
var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
if (raf) 
raf(function () {
window.setTimeout(loadDeferredStyles, 0);
});
 else 
window.addEventListener('load', loadDeferredStyles);
	</script>
{% endblock %}
