{% extends 'base.html.twig' %}
{% block title %}
	CREATIV | Audit Communication digitale WEB-Marketing Paris, Oran
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('asset/css/website.css')}}">
	<link rel="stylesheet" href="{{asset('asset/css/1.css')}}">
	<link rel="stylesheet" href="{{asset('asset/css/2.css')}}">
	<link rel="stylesheet" href="{{asset('asset/css/3.css')}}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

	
{% endblock %}
{% block body %}

	<main>
		{{ form_start(form) }}
		<div id="audit">
			<div id="audit-box-title">
				<h2>2 minutes pour réaliser le diagnostic-santé de votre comm’</h2>
				<p>Où en êtes-vous en matière de marketing ?<br>Evaluez votre stratégie grâce à notre questionnaire exclusif : répondez à 10 questions et découvrez quelle est votre “note marketing”...<br>Un moyen efficace pour faire le point en 2 minutes.</p>
				<img src="asset/img/pastilleAudit.png" alt="Audit Gratuit">
			</div>
			<div id="audit-progressbar">
				<div id="audit-bulle">0%</div>
				<div id="audit-progress"></div>
			</div>
			<div id="audit-box">
				<div id="audit-title-box">DÉBUTEZ VOTRE AUDIT<div id="audit-triangle"></div>
				</div>
				<div id="audit-left">
					<div id="audit_num_id">1</div>
					<div id="audit_label">
						<div id="audit_icon"></div>
					</div>
				</div>
				<div id="audit-right">
					<div id="Ak1" class="Ak">
						<div class="audit-question">Avez-vous un logo ?</div>
						<div class="audit-radio">
							{{ form_widget(form.logo,{'attr': {'class': ''}}) }}
							{{ form_errors(form.logo) }}

						</div>
						<p>Un logo est essentiel pour incarner une entreprise ou un commerce. Plus son identité sera forte, plus sa reconnaissance par vos clients actuels et futurs sera facilitée.</p>
					</div>
					<div id="Ak2" class="Ak">
						<div class="audit-question">Avez-vous un slogan ?</div>
						<div class="audit-radio">
							{{ form_widget(form.slogan,{'attr': {'class': ''}}) }}
							{{ form_errors(form.slogan) }}
						</div>
						<p>Un slogan (ou “baseline”) est une phrase d’accroche qui résume à elle seule votre activité, votre spécificité ou votre savoir-faire. Le slogan est souvent rattaché au logo pour lui donner plus de force.</p>
					</div>
					<div id="Ak3" class="Ak">
						<div class="audit-question">Avez-vous un site web ?</div>
						<div class="audit-radio">
							{{ form_widget(form.siteweb,{'attr': {'class': ''}}) }}
							{{ form_errors(form.siteweb) }}
						</div>
						<p>Une PME sur 2 n’a pas de site web. Pourtant, aujourd’hui, Internet est l’outil le plus utilisé par les particuliers pour rechercher un pro lorsqu’ils en ont besoin. Entre deux entreprises concurrentes, les prospects iront en priorité vers celle qui dispose d’un site web attractif.</p>
					</div>
					<div id="Ak4" class="Ak">
						<div class="audit-question">Avez-vous une charte graphique ?</div>
						<div class="audit-radio">
							{{ form_widget(form.charte,{'attr': {'class': ''}}) }}
							{{ form_errors(form.charte) }}
						</div>
						<p>Une charte graphique détermine les règles qui s’appliquent à votre image de marque. Couleur, police de caractère, mise en page, ce document est très utile pour garantir la cohérence de votre image de marque quel que soit le support utilisé.</p>
					</div>
					<div id="Ak5" class="Ak">
						<div class="audit-question">Avez-vous des cartes de visite ?</div>
						<div class="audit-radio">
							{{ form_widget(form.cartes,{'attr': {'class': ''}}) }}
							{{ form_errors(form.cartes) }}
						</div>
						<p>La carte de visite constitue très souvent le premier contact que l’on a avec une entreprise. Il s’agit donc d’un vecteur essentiel de votre image de marque, qu’il ne faut surtout pas négliger. Pour que vos prospects se souviennent de vous, il est même conseillé de créer des concepts originaux.</p>
					</div>
					<div id="Ak6" class="Ak">
						<div class="audit-question">Avez-vous un prospectus de présentation de votre entreprise ?</div>
						<div class="audit-radio">
							{{ form_widget(form.prospectus,{'attr': {'class': ''}}) }}
							{{ form_errors(form.prospectus) }}
						</div>
						<p>Dépliant, “flyer”, brochure, plaquette… il est essentiel de disposer d’un petit document qui résume votre activité et les produits que vous proposez. Il est recommandé d’éviter de céder à la tentation du “fait-maison” : en tant que pro, vous devez remettre à vos futurs clients un document sérieux, créatif et professionnel.</p>
					</div>
					<div id="Ak7" class="Ak">
						<div class="audit-question">Achetez-vous de la publicité ?</div>
						<div class="audit-radio">
							{{ form_widget(form.publicite,{'attr': {'class': ''}}) }}
							{{ form_errors(form.publicite) }}
						</div>
						<p>Presse locale, journaux gratuits, sites internet, radio… suivant votre activité, il est essentiel de communiquer en faisant de la publicité. A condition que vos visuels et vos messages soient aussi professionnels que vous.</p>
					</div>
					<div id="Ak8" class="Ak">
						<div class="audit-question">Votre véhicule de société est-il sérigraphié ?</div>
						<div class="audit-radio">
							{{ form_widget(form.serigraphie,{'attr': {'class': ''}}) }}
							{{ form_errors(form.serigraphie) }}
						</div>
						<p>Vous êtes artisan, commerçant ou profession libérale, et vous vous déplacez régulièrement ? Votre véhicule est un formidable vecteur de communication, à condition que son marquage soit à la hauteur...</p>
					</div>
					<div id="Ak9" class="Ak">
						<div class="audit-question">Votre local professionnel est-il signalisé ?</div>
						<div class="audit-radio">
							{{ form_widget(form.signalise,{'attr': {'class': ''}}) }}
							{{ form_errors(form.signalise) }}
						</div>
						<p>Vos clients doivent facilement trouver vos locaux, c’est essentiel pour une bonne relation commerciale. Si vous êtes situés dans une zone passante, votre local professionnel est un atout qu’il faut exploiter pour augmenter la notoriété de votre activité : affichage, marquage vitrine, drapeaux...</p>
					</div>
					<div id="Ak10" class="Ak">
						<div class="audit-question">Participez-vous à des foires ou salons ?</div>
						<div class="audit-radio">
							{{ form_widget(form.foirs,{'attr': {'class': ''}}) }}
							{{ form_errors(form.foirs) }}
						</div>
						<p>Salon de l’immobilier, du tourisme, foire-expo... chaque année, des milliers de visiteurs se pressent dans ces évènements pour découvrir de nouveaux produits. Une occasion unique pour vous de communiquer, encore faut-il que votre stand donne envie de s’arrêter...</p>
					</div>
					<div id="Ak-end" style="display: none;">
						<div class="audit-question">Indiquez-nous vos coordonnées ?</div>
						<p>Le questionnaire est terminé : pour obtenir votre évaluation et découvrir nos conseils, merci de nous indiquer votre adresse mail et votre numéro de téléphone.<br>Consultez notre
							<a href="politique-de-confidentialite.html" target="_blank">politique de confidentialité</a>.</p>
						<div class="audit-input">
							{{ form_widget(form.email,{ 'id': 'audit-email' }) }}
							{{ form_errors(form.email) }}

							{{ form_widget(form.tel, { 'id': 'audit-code-postal' }) }}
							{{ form_errors(form.tel) }}
						</div>


					</div>
					<div id="audit-button-disable">QUESTION SUIVANTE</div>
					<div id="audit-etapes">Encore 9 étapes</div>


				</div>
				<div class="clear"></div>
			</div>
		</div>

		{{ form_end(form) }}

	</main>


	<script src="{{asset('asset/js/def1.js')}}"></script>

	<script src="{{asset('asset/js/min/app.minc61c.js?id=e8617fbfb7694bb14a80514d77aa7472ab6376a1')}}" async></script>
	<noscript id="deferred-styles">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,400italic,700"/>
	</noscript>


	<script>


$( "#audit_foirs_0" ).on( "change", function() {
  $( "#audit-button" ).on( "click", function() {
    $( "#audit-button" ).on( "click", function() {
  $("form").submit()
} );
} );
} );


$( "#audit_foirs_1" ).on( "change", function() {
  $( "#audit-button" ).on( "click", function() {
    $( "#audit-button" ).on( "click", function() {
  $("form").submit()
} );
} );
} );

var loadDeferredStyles = function () {
var addStylesNode = document.getElementById("deferred-styles");
var replacement = document.createElement("div");
replacement.innerHTML = addStylesNode.textContent;
document.body.appendChild(replacement)
addStylesNode.parentElement.removeChild(addStylesNode);
};
var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
if (raf) 
raf(function () {
window.setTimeout(loadDeferredStyles, 0);
});
 else 
window.addEventListener('load', loadDeferredStyles);
	</script>
{% endblock %}
