{% extends 'base.html.twig' %}
{% block title %}
	CREATIV | Publicité par Email & Automatisation Oran Paris
	{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('asset/css/website.css')}}">
	<link rel="stylesheet" href="{{asset('asset/css/1.css')}}">
	<link rel="stylesheet" href="{{asset('asset/css/2.css')}}">
	<link rel="stylesheet" href="{{asset('asset/css/3.css')}}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}
{% block body %}

	<main>

		<div class="module-slide" style="margin-top: 100px;">
			<div
				id="slider1_container" style="position:relative;margin:0
																																																																						                        auto;top:0;left:0;width:1600px;height:600px;overflow:hidden;">
				<!-- Slides Container -->
				<div u="slides" style="cursor:move;position:absolute;left:0;top:0;width:1600px;height:550px;overflow:hidden;">

					<div><img u="image" src="{{asset('asset/img/dev4.jpg')}}" alt=""></div>

				</div>
				<!-- Arrow Navigator Skin Begin -->
				<span u="arrowleft" class="jssora21l" style="width:55px;height:55px;top:123px;left:8px;"></span>
				<span u="arrowright" class="jssora21r" style="width:55px;height:55px;top:123px;right:8px"></span>
				<div u="navigator" class="jssorb17" style="position:absolute;bottom:16px;right:6px;">
					<div u="prototype" style="position:absolute;width:16px;height:16px;"></div>
				</div>
				<!-- Arrow Navigator Skin End -->

			</div>
		</div>

		<div class="module-titre">
			<h1 class="module-titre-principal">
				Publicité par Email & Automatisation 

			</h1>
			<h2 class="module-titre-secondaire">
				Audit des systèmes informatiques - Optimisation des SI - Sécurité informatique entreprise
																																				            Application de gestion - Application sur-mesure - Plateforme web - Logiciel en ligne
			</h2>
		</div>


		<div class="module-texte">
			<h2>Ciblez, Engagez et Convertissez</h2>
			<p>L'email marketing est un canal direct de communication avec vos prospects et clients, utilisé pour envoyer des campagnes personnalisées, informer sur vos offres, annoncer des nouveautés ou encourager la fidélisation. En ajoutant l’automatisation, les entreprises peuvent créer des flux d'emails qui se déclenchent en fonction des actions des utilisateurs (comme l'abandon de panier, l’inscription à une newsletter, ou un premier achat). Cela permet de communiquer de manière ciblée, au bon moment, et avec un message adapté à chaque étape du parcours client.</p>
            <h3>Nos Services de Marketing par Email et Automatisation
			</h3>
			<p>
				<b>1. Stratégie d’Email Marketing Personnalisée :
				</b>
               Nous concevons une stratégie d'email marketing alignée avec vos objectifs commerciaux, afin de toucher la bonne audience avec le bon message, au bon moment.
			<p>
				<b>2. Segmentation Avancée de l’Audience:
				</b>
                   En segmentant votre audience selon des critères précis (comme le comportement d'achat, l'âge, les centres d'intérêt), nous assurons une communication adaptée et efficace, augmentant l'engagement et le taux de conversion.	<p>
				
                <b>3. Création de Contenus d’Emails :
				</b>
                Nos experts en marketing digital conçoivent des campagnes d'emails au design attrayant et aux messages percutants, conçus pour captiver votre audience et renforcer l’image de votre marque. </p>

			<p>
				<b>4. Automatisation des Campagnes :
				</b>
             Nous mettons en place des séquences d'emails automatisées, comme les emails de bienvenue, de fidélisation, ou de relance, pour garder vos clients engagés à chaque étape de leur parcours.</p>
			<p> 
				<b>5. Optimisation et A/B Testing :
				</b> Afin d’assurer des résultats optimaux, nous testons différentes variantes de vos emails (sujets, contenu, CTA) pour identifier ce qui fonctionne le mieux et améliorer les performances.

 
			</p>
	
	<p>
				<b>6. Suivi des Performances et Reporting :
				</b>Nous vous fournissons des rapports détaillés sur les résultats de vos campagnes, tels que les taux d'ouverture, de clic, et de conversion, pour suivre le retour sur investissement et adapter votre stratégie.</p>
		<p>
				<b>7. Conseil et Formation en Email Marketing :
				</b>Si vous souhaitez gérer vos propres campagnes, nous offrons également des formations et du conseil en email marketing pour vous transmettre les meilleures pratiques et astuces.</p>

		</div>


		<div class="module-inspiration" style="background: #dbf7ff">
			<div class="module-inspiration-content">
				<div class="module-inpiration-float-left">
					<img src="{{asset('asset/img/creation-application-web.png')}}" alt="icon référencement seo" style=" height: 350px;"/>
				</div>
				<div class="module-inpiration-float-right">
					<p class="module-inspiration-titre" style="color: #444444; margin-top: 210px"><br>
						Transformez Vos Emails en Un Outil de Croissance Puissant
					</p>
					<p class="module-inspiration-texte" style="color: #444444">
					Avec une bonne stratégie d’email marketing, vous pouvez non seulement fidéliser vos clients mais aussi les transformer en ambassadeurs de votre marque. Contactez-nous dès aujourd'hui pour découvrir comment nos services d'email marketing et d'automatisation peuvent vous aider à engager votre audience et à maximiser vos conversions.
                    </p>


						<br><br><a href="../galerie/site-internet.html" class="" style="
																																			    background: #b1c700;
																																			    padding: 18px;
																																			    font-size: 15px;
																																			    font-weight: 600;
																																			    !;!i;!;
																																			    width: 250px;
																																			    margin-top: -26px;
																																			    color: #fff;
																																			    text-align: center;
																																			    cursor: pointer;
																																			    border-radius: 50px;
																																			    -webkit-transition: all .3s;
																																			    -o-transition: all .3s;
																																			    transition: all .3s;
																																			">Contactez-nous pour un devis sur-mesure
						</a><br><br>
					</p>

					<br>
				</div>
				<div class="clear"></div>
			</div>
		</div>


		<div class="module-texte">
			<h4>Pourquoi Choisir Nos Services de SEA ?</h4>
			<p>

                <b>Expertise :</b> Notre équipe possède une vaste expérience dans la gestion de campagnes SEA réussies sur diverses plateformes. Nous restons à jour sur les tendances du marché et les meilleures pratiques    
		</p>
		<p>

                <b>Solutions Personnalisées : </b> Nous comprenons que chaque entreprise est unique. C’est pourquoi nous proposons des stratégies sur mesure adaptées à vos objectifs spécifiques.	
		</p>    
	<p>

                <b>Transparence  : </b>Nous croyons en une communication ouverte et honnête. Vous recevrez des rapports clairs et compréhensibles pour suivre l’évolution de vos campagnes.
		</p>   
		</div>

		<div class="module-inspiration" style="background: #b8b8b8">
			<div class="module-inspiration-content">
				<div class="module-inpiration-float-right">
					<p class="module-inspiration-titre" style="color: #ffffff; margin-top: 210px">
						On vous pousse
						<br/>vers le haut !
					</p>
					<p class="module-inspiration-texte" style="color: #ffffff">
						Notre motivation première : faire le maximum pour votre
																																																						                réussite. Parce que participer au bon fonctionnement de votre
																																																						                entreprise se répercute sur l'image de notre société, nous
																																																						                serons les premiers à vous soutenir et à vous pousser vers le
																																																						                haut !
					</p>
					<p class="module-inspiration-lien">
						<a href="../../nous-contacter.html" style="color: #ffffff">Contactez-nous pour une offre sur-mesure et sans engagement
							<br/>
							CLIQUEZ ICI</a>
					</p>
				</div>
				<div class="module-inpiration-float-left">
					<img src="{{asset('asset/tmp/inspiration/pousse-vers-haut-243.png')}}" alt="createur entreprise"/>
				</div>
				<div class="clear"></div>
			</div>
		</div>


		<div class="module-essentiel">
			<div class="module-essentiel-content">
				<p class="module-essentiel-titre">L'essentiel</p>
				<div class="module-essentiel-blocks">
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Obtenir un devis gratuit
						</div>
						<div class="module-essentiel-block-texte">
							Faites-nous part de votre demande précise par e-mail en
																																																																																																		                  indiquant le type de besoin, la quantité, les dimensions, la
																																																																																																		                  finition, etc. Vous recevrez votre devis dans un délai maximum
																																																																																																		                  de 48 heures.
						</div>
						<div class="module-essentiel-block-contactez-nous">
							<a href="../nous-contacter.html">
								<i class="fas fa-envelope" aria-hidden></i>
								contactez-nous
																																																																																																																                    par mail</a>
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Commande urgente ?
						</div>
						<div class="module-essentiel-block-texte">
							Une demande en urgence ? Un projet de dernière minute ? Vous
																																																																																																		                  avez besoin de votre commande rapidement ?<br/>Nous avons
																																																																																																		                  toujours des solutions, renseignez-vous !
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Livraison gratuite*
						</div>
						<div class="module-essentiel-block-texte">
							Livraison gratuite pour toute commande effectuée sur notre
																																																																																																		                  site internet, en Algérie, et uniquement pour nos produits
																																																																																																		                  d'impression.
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">Testez-nous</div>
						<div class="module-essentiel-block-texte">
							Vous pouvez obtenir une démo ou une pré-maquette pour
																																																																																																		                  visualiser l'étendue de nos capacités créatives. Testez-nous,
																																																																																																		                  c'est gratuit et sans engagement* !
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Facilités de paiement
						</div>
						<div class="module-essentiel-block-texte">
							Profitez de notre option de paiement flexible en deux tranches
																																																																																																		                  : un premier versement à la commande et un deuxième à la fin
																																																																																																		                  du projet lors de la livraison. Ainsi, vous pouvez démarrer
																																																																																																		                  votre activité sereinement tout en gérant votre budget !
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">Venez à l’agence</div>
						<div class="module-essentiel-block-texte">
							Vous pourrez y travailler directement avec l’un de nos
																																																																																																		                  graphistes*, toucher les matières de certains produits...,
																																																																																																		                  rien de mieux pour avancer efficacement et selon vos
																																																																																																		                  directives. Repartez avec votre devis et votre maquette.
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">On vous rappelle</div>
						<div class="module-essentiel-block-texte">
							Vous n’arrivez pas à nous joindre par téléphone ? Laissez-nous
																																																																																																		                  votre numéro, et nous vous rappellerons dans la journée.
						</div>
						<div class="on-vous-rappelle">
							<input type="text" placeholder="Notez ici votre numéro" id="on-vous-rappelle-input"/>
							<button id="on-vous-rappelle-button">
								<i class="fas fa-paper-plane" aria-hidden></i>
							</button>
							<div class="on-vous-rappelle-message" id="on-vous-rappelle-message"></div>
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">Appelez-nous</div>
						<div class="module-essentiel-block-texte">
							Vous avez des questions sur l’un de nos produits&nbsp;? Vous
																																																																																																		                  souhaitez avoir l’avis d’un spécialiste&nbsp;? Vous souhaitez
																																																																																																		                  un rendez-vous&nbsp;?
						</div>
						<div class="module-essentiel-block-telephone">
							<span>+213</span>
							(0) 797 80 20 48
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="module-info">
			<div class="module-info-content">
				<div class="module-info-item">
					<img src="../asset/img/check.svg" alt="Engagement qualité, poseurs qualifiés" class="module-info-item-img"/>
					<div class="module-info-item-title">
						Engagement qualité,<br/>développeurs experts
					</div>
					<div class="module-info-item-text">
						Votre projet est entièrement pris en charge
						<br/>du
																																																																																				                développement à la mise en ligne.
					</div>
				</div>
				<div class="module-info-item">
					<img src="{{asset('asset/img/phone.svg')}}" alt="Un service téléphonique disponible" class="module-info-item-img"/>
					<div class="module-info-item-title">
						Un service<br/>téléphonique disponible
					</div>
					<div class="module-info-item-text">
						7J/7 de 9h à 12h00<br/>
						et de 14h à 19h00.
					</div>
				</div>
				<div class="module-info-item">
					<img src="{{asset('asset/img/pencil.svg')}}" alt="Des créatifs dédiés à votre projet" class="module-info-item-img"/>
					<div class="module-info-item-title">
						Des créatifs dédiés<br/>à votre projet
					</div>
					<div class="module-info-item-text">
						Des créations originales<br/>et sur-mesure.
					</div>
				</div>
			</div>
		</div>

	</main>

	<div class="bubble-question" id="bubble-question">
		<span class="bubble-question-tooltip">VOUS AVEZ DES QUESTIONS ?</span>
		<div class="bubble-question-content" id="bubble-question-content">
			<div class="bubble-question-content-title">
				VOUS AVEZ DES QUESTIONS ?
			</div>
			<div class="bubble-question-content-close" id="bubble-question-content-close">
				&times;
			</div>
			<div class="bubble-question-container-1" id="bubble-question-container-1">
				<div class="bubble-question-container-1-line bubble-question-container-1-line-1">
					Téléphonez-nous :<br/>0554 29 35 40
					<i class="fas fa-phone" aria-hidden></i>
				</div>
				<div class="bubble-question-container-1-line bubble-question-container-1-line-2" id="bubble-question-container-1-line-2">
					Cliquez ici pour nous<br/>laisser un message
					<i class="fas fa-envelope" aria-hidden></i>
				</div>
			</div>
			<div class="bubble-question-container-2" id="bubble-question-container-2">
				<label for="bubble-input-1">Nom :</label>
				<input type="text" name="name" id="bubble-input-1" autocomplete="off"/>
				<label for="bubble-input-2">Email :</label>
				<input type="text" name="email" id="bubble-input-2" autocomplete="off"/>
				<label for="bubble-input-3">Message :</label>
				<textarea name="content" id="bubble-input-3"></textarea>
				<div class="bubble-btn" id="bubble-btn" data-link="../../asset/core/live-contact.html">
					Envoyer
				</div>
			</div>
		</div>
	</div>


		<script src="{{asset('asset/js/def1.js')}}"></script>

<script src="{{asset('asset/js/min/app.minc61c.js?id=e8617fbfb7694bb14a80514d77aa7472ab6376a1')}}" async></script>
<noscript id="deferred-styles">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,400italic,700"/>
</noscript>
	<script>
		var loadDeferredStyles = function () {
var addStylesNode = document.getElementById("deferred-styles");
var replacement = document.createElement("div");
replacement.innerHTML = addStylesNode.textContent;
document.body.appendChild(replacement)
addStylesNode.parentElement.removeChild(addStylesNode);
};
var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
if (raf) 
raf(function () {
window.setTimeout(loadDeferredStyles, 0);
});
 else 
window.addEventListener('load', loadDeferredStyles);
	</script>
{% endblock %}
