{% extends 'base.html.twig' %}


{% block body %}

	<main>
		{% include 'sliderAccueil.html.twig' %}

		<div class="index-1">
			<div class="index-1-content">
				<div class="index-1-btn" id="index-1-btn">
					<div class="index-1-middle-title">
						<span>Notre</span>
						entreprise
					</div>
				</div>
				<h1 class="index-1-bottom-title">
					CREATIV  est une entreprise innovante de développement web, de consulting IT, et de marketing digital, composée d'experts passionnés et talentueux qui mettent leurs compétences au service de votre réussite dans l'univers technologies de l'information et numérique.
					<br/>
					Notre mission est de vous accompagner à chaque étape de vos projets, en alliant créativité, professionnalisme et excellence technique.
					<br/>

					Basée en Algérie, notre entreprise se distingue comme un acteur incontournable des solutions digitales et de technologies de l'information sur mesure, avec un engagement fort envers la satisfaction de nos clients.
					<br/>

					Nous nous engageons à vous accompagner du début de votre projet à sa fin avec professionnalisme et créativité.
				</h1>
			</div>
		</div>

		<div class="index-3">
			<div class="index-3-items">
				<a href="produits-3/site-internet.html" class="index-3-item index-3-item-3">
					<div class="index-3-item-img">
						<img src="{{asset('asset/img/7-site-internet.avif')}}" alt="Site internet sur-mesure"/>
						<div class="index-3-item-img-plus">
							<i class="fas fa-plus"></i>
						</div>
					</div>
					<div class="index-3-item-active">
						<div class="index-3-item-active-content">
							<h2 class="index-3-item-title">Site web</h2>
							<h3 class="index-3-item-subtitle">Création de site internet</h3>
							<h4 class="index-3-item-text">Site vitrine, site catalogue, Site boutique sur-mesure, Accès administrateur, Site responsive pour mobile et tablette, Référencement SEO, Hébergement...</h4>
							<div class="index-3-item-plus">En savoir +</div>
						</div>
					</div>
				</a>

				<a href="produits-3/site-internet.html" class="index-3-item index-3-item-6">
					<div class="index-3-item-img">
						<img src="{{asset('asset/img/aplication.avif')}}" alt="Site
																																																																																																																																																																																																																																																																																																																																																																																																								                                    internet sur-mesure"/>
						<div class="index-3-item-img-plus">
							<i class="fas fa-plus"></i>
						</div>
					</div>
					<div class="index-3-item-active">
						<div class="index-3-item-active-content">
							<h2 class="index-3-item-title">Applications</h2>
							<h3 class="index-3-item-subtitle">Développement sur mesure</h3>
							<h4 class="index-3-item-text">Création / Intallation / Configuration d'ERP, CRM pour entreprise, Suivi de la production, Gestion des ventes, Facturation, Gestion des inventaires, Gestion des ressources humaines, gestion des paies, Gestion des approvisionnements...</h4>
							<div class="index-3-item-plus">En savoir +</div>
						</div>
					</div>
				</a>

				<a href="produits-3/enseignes-habillages/enseigne-bandeau-2.html" class="index-3-item index-3-item-5">
					<div class="index-3-item-img">
						<img src="{{asset('asset/img/3-enseigne.avif')}}" alt="Enseigne et habillage magasin"/>
						<div class="index-3-item-img-plus">
							<i class="fas fa-plus"></i>
						</div>
					</div>
					<div class="index-3-item-active">
						<div class="index-3-item-active-content">
							<h2 class="index-3-item-title">Solutions it</h2>
							<h3 class="index-3-item-subtitle">Optimiser vos systèmes informatiques</h3>
							<h4 class="index-3-item-text">Gestion des Infrastructures IT, Cybersécurité et Protection des Données, Développement de Solutions Logicielles, Support Technique et Maintenance, Gestion de Projet IT...</h4>
							<div class="index-3-item-plus">En savoir +</div>
						</div>
					</div>
				</a>
				<a href="produits-3/site-internet.html" class="index-3-item index-3-item-7">
					<div class="index-3-item-img">
						<img src="{{asset('asset/img/hebergement-web.avif')}}" alt="Site internet sur-mesure"/>
						<div class="index-3-item-img-plus">
							<i class="fas fa-plus"></i>
						</div>
					</div>
					<div class="index-3-item-active">
						<div class="index-3-item-active-content">
							<h2 class="index-3-item-title">Hébergement web</h2>
							<h3 class="index-3-item-subtitle">Maintenance et Hébergement de Plateformes Web</h3>
							<h4 class="index-3-item-text">Hébergement de la plateforme sur des serveurs sécurisés (cloud, VPS, serveurs dédiés), Services de maintenance corrective et évolutive (mises à jour, sauvegardes automatiques), Surveillance des performances et gestion des incidents 24/7...</h4>
							<div class="index-3-item-plus">En savoir +</div>
						</div>
					</div>
				</a>
				<a href="produits-3/site-internet.html" class="index-3-item index-3-item-8">
					<div class="index-3-item-img">
						<img src="{{asset('asset/img/réseaux-sociaux.avif')}}" alt="Site internet sur-mesure"/>
						<div class="index-3-item-img-plus">
							<i class="fas fa-plus"></i>
						</div>
					</div>
					<div class="index-3-item-active">
						<div class="index-3-item-active-content">
							<h2 class="index-3-item-title">Publicité digitale</h2>
							<h3 class="index-3-item-subtitle">Visibilité en ligne et conversions</h3>
							<h4 class="index-3-item-text">Stratégie de Marketing Digital, Publicité sur les Moteurs de Recherche (SEA), Référencement Naturel (SEO), Publicité sur les Réseaux Sociaux, Création de Contenu et Marketing de Contenu...</h4>
							<div class="index-3-item-plus">En savoir +</div>
						</div>
					</div>
				</a>

				<a href="produits-3/site-internet.html" class="index-3-item index-3-item-2">
					<div class="index-3-item-img">
						<img src="{{asset('asset/img/Emailing.avif')}}" alt="Site
																																																																																																																																																																																																																																																																																																																																																																																																								                                    internet sur-mesure"/>
						<div class="index-3-item-img-plus">
							<i class="fas fa-plus"></i>
						</div>
					</div>
					<div class="index-3-item-active">
						<div class="index-3-item-active-content">
							<h2 class="index-3-item-title">E-mailing</h2>
							<h3 class="index-3-item-subtitle">Communiquez facilement auprès de vos clients</h3>
							<h4 class="index-3-item-text">Création d'emails personnalisés pour fidéliser, informer, ou convertir les abonnés, Mise en place de séquences automatiques ...</h4>
							<div class="index-3-item-plus">En savoir +</div>
						</div>
					</div>
				</a>

				<a href="produits-3/agence-de-communication-publicite-nord.html" class="index-3-item index-3-item-1">
					<div class="index-3-item-img">
						<img src="{{asset('asset/img/1-creation.avif')}}" alt="Studio
																																																																																																																																																																																																																																																																																																																																																																																																								                                    de création"/>
						<div class="index-3-item-img-plus">
							<i class="fas fa-plus"></i>
						</div>
					</div>
					<div class="index-3-item-active">
						<div class="index-3-item-active-content">
							<h2 class="index-3-item-title">Création</h2>
							<h3 class="index-3-item-subtitle">Studio de création graphique</h3>
							<h4 class="index-3-item-text">Identité visuelle, Création / refonte de logos, Création de charte graphique, Plaquette commerciale, dépliant, Illustration / Packaging...</h4>
							<div class="index-3-item-plus">En savoir +</div>
						</div>
					</div>
				</a>

				<a href="produits-3/imprimerie.html" class="index-3-item index-3-item-4">
					<div class="index-3-item-img">
						<img src="{{asset('asset/img/print.avif')}}" alt="Imprimerie
																																																																																																																																																																																																																																																																																																																																																																																																								                                    offset et numérique"/>
						<div class="index-3-item-img-plus">
							<i class="fas fa-plus"></i>
						</div>
					</div>
					<div class="index-3-item-active">
						<div class="index-3-item-active-content">
							<h2 class="index-3-item-title">Impression</h2>
							<h3 class="index-3-item-subtitle">Imprimerie offset et numérique</h3>
							<h4 class="index-3-item-text">Carterie, Office, Calendrier, Flyers, Dépliant, Prospectus, Plaquette commerciale et institutionnelle, Brochure commerciale, Affiche, Hotel / restaurant, Set de table, Menu...</h4>
							<div class="index-3-item-plus">En savoir +</div>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="index-4">
			<div class="index-4-left">
				<h5 class="index-4-left-title">
					Votre devis en 5 minutes !
					<span>Calculez le coût de réalisation de votre site internet, au plus juste, en moins de 5 minutes !</span>
				</h5>
				<a href="https://issuu.com/_exaprint/docs/catalogue_des_supports_de_communication__04_v3_hd_?fr=sYTdlOTE1MDQyMzA" class="index-4-left-link" target="_blank">DEVIS EN LIVE, cliquez ICI</a>
				<img src="asset/tmp/inspiration/5-minutes-logo-668.png" alt="Le Catalogue des supports de communication" class="index-4-left-img"/>
			</div>
			<div class="index-4-right">
				<h5 class="index-4-right-title">
					Du conseil et des idées
					<br/>
					pour tous les budgets !
				</h5>
				<p class="index-4-right-text">
					Notre réactivité, notre esprit de service, nos idées novatrices,
					<br/>
					nos tarifs compétitifs et il faut le dire, notre bonne humeur
					<br/>
					nous ont permis de travailler depuis longtemps avec de fidèles clients.
				</p>
				<a href="asset/core/du-conseil-et-des-idees.html" class="index-4-right-link quickmodal-link" data-url="/asset/core/du-conseil-et-des-idees.php">En savoir +</a>
			</div>
		</div>

		<div class="index-5">
			<div class="index-5-left">
				<img src="asset/img/2-minutes.png" alt="2 minutes" class="index-5-left-img"/>
				<h5 class="index-5-left-title">
					2 minutes pour réaliser le
					<br/>
					diagnostic-santé de votre comm’
				</h5>
				<div class="index-5-left-text">
					Où en êtes-vous en matière de marketing ?
					<br/>
					Evaluez votre stratégie grâce à notre questionnaire exclusif :
					<br/>
					répondez à 10 questions et découvrez quelle est votre “note marketing”...
					<br/>
					Un moyen efficace pour faire le point en 2 minutes.
				</div>
				<a href="audit-marketing-gratuit.html" class="index-5-left-link">Faire le test</a>
			</div>
			<div class="index-5-right">
				<div class="index-5-right-title">
					Retrouvez-nous sur
					<strong>Facebook</strong>
					<br/>
					et suivez toute l’actualité creativ web :
				</div>
				<div class="index-5-right-text">
					Chantiers en cours, nouveaux produits, photos de réalisations,
					<br/>
					témoignages clients, promotions, etc...
				</div>
				<a href="https://web.facebook.com/creativ.agence.web" class="index-5-right-link" target="_blank"><img src="asset/img/suivez-nous-sur-facebook.avif" alt="Suivez-nous sur Facebook" class="index-5-right-img"/></a>
				<div class="index-5-right-flex">
					<div class="index-5-right-flex-left">
						<i class="fas fa-thumbs-up"></i>
						<div>
							<strong>1999</strong>
							personnes aiment
							<strong>CREATIV</strong>
						</div>
					</div>
					<div class="index-5-right-flex-right">
						<i class="far fa-check-circle"></i>
						<div>
							<strong>2070</strong>
							personnes sont abonnées
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
{% block javascripts %}

	<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
	<script src="{{asset('asset/js/main.min38d1.js?id=534d2bccc6f75be47b39')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/rs-plugin/js/jquery.themepunch.tools.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js')}}"></script>


	<script>
		var loadDeferredStyles = function () {
var addStylesNode = document.getElementById("deferred-styles");
var replacement = document.createElement("div");
replacement.innerHTML = addStylesNode.textContent;
document.body.appendChild(replacement)
addStylesNode.parentElement.removeChild(addStylesNode);
};
var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
if (raf) 
raf(function () {
window.setTimeout(loadDeferredStyles, 0);
});
 else 
window.addEventListener('load', loadDeferredStyles);
	</script>
	<script type="text/javascript">
		var tpj = jQuery;
tpj.noConflict();
var revapi1;
tpj(document).ready(function () {
if (tpj("#rev_slider_1_2").revolution == undefined) {
revslider_showDoubleJqueryError("#rev_slider_1_2");
} else {
revapi1 = tpj("#rev_slider_1_2").show().revolution({
sliderType: "standard",
sliderLayout: "auto",
dottedOverlay: "none",
delay: 4000,
responsiveLevels: [
2048, 1024, 778, 778
],
gridwidth: [
1600, 1024, 778, 700
],
gridheight: [
750, 768, 1200, 1000
],

navigation: {
keyboardNavigation: "off",
keyboard_direction: "horizontal",
mouseScrollNavigation: "off",
onHoverStop: "off",
touch: {
touchenabled: "on",
swipe_threshold: 75,
swipe_min_touches: 1,
swipe_direction: "horizontal",
drag_block_vertical: false
},
arrows: {
style: "hesperiden",
enable: false,
hide_onmobile: false,
hide_onleave: false,
tmp: '',
left: {
h_align: "left",
v_align: "bottom",
h_offset: 40,
v_offset: 300
},
right: {
h_align: "right",
v_align: "bottom",
h_offset: 40,
v_offset: 300
}
}
},

lazyType: "none",
shadow: 0,
spinner: "spinner3",
stopLoop: "off",
stopAfterLoops: -1,
stopAtSlide: -1,
shuffle: "off",
autoHeight: "off",
disableProgressBar: "on",
hideThumbsOnMobile: "off",
hideSliderAtLimit: 0,
hideCaptionAtLimit: 0,
hideAllCaptionAtLilmit: 0,
startWithSlide: 0,
debugMode: false,
fallbacks: {
simplifyAll: "off",
nextSlideOnWindowFocus: "off",
disableFocusListener: "off"
}
});
}
});
	</script>
{% endblock %}
