{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('asset/css/def1.css')}}">
{% endblock %}
{% block body %}

	<main>

		<div class="module-slide" style="margin-top: 100px;">
			<div
				id="slider1_container" style="position:relative;margin:0
																																																																																                        auto;top:0;left:0;width:1600px;height:600px;overflow:hidden;">
				<!-- Slides Container -->
				<div u="slides" style="cursor:move;position:absolute;left:0;top:0;width:1600px;height:550px;overflow:hidden;">

					<div><img u="image" src="{{asset('asset/img/dev4.jpg')}}" alt=""></div>

				</div>
				<!-- Arrow Navigator Skin Begin -->
				<span u="arrowleft" class="jssora21l" style="width:55px;height:55px;top:123px;left:8px;"></span>
				<span u="arrowright" class="jssora21r" style="width:55px;height:55px;top:123px;right:8px"></span>
				<div u="navigator" class="jssorb17" style="position:absolute;bottom:16px;right:6px;">
					<div u="prototype" style="position:absolute;width:16px;height:16px;"></div>
				</div>
				<!-- Arrow Navigator Skin End -->

			</div>
		</div>

		<div class="module-titre">
			<h1 class="module-titre-principal">
				Création de Logo unique et personnalisée

			</h1>
			<h2 class="module-titre-secondaire">
				Création de logo gratuit en ligne  - refonte d'identité - création de charte graphique - agence digital
			</h2>
		</div>


		<div class="module-texte">
			<h2>Donnez Vie à Votre Identité Visuelle</h2>
			<p>Un logo est bien plus qu'un simple dessin ou symbole : c'est l’essence de votre marque, l’image qui représente vos valeurs et votre vision. Le logo est souvent le premier contact que vos clients auront avec votre entreprise, il doit donc être mémorable, reconnaissable et représenter fidèlement ce que vous souhaitez transmettre.</p>

			<p>Nous comprenons l'importance de cet élément fondateur dans votre identité visuelle. Notre équipe de créatifs et de designers passionnés vous accompagne dans la création d’un logo unique et impactant, conçu pour capter l’attention et marquer les esprits.</p>

			<h3>Nos Services de Création de Logo</h3>
			<P>
				<b>1. Analyse et Recherche de Marché :
				</b>
				Nous débutons chaque projet par une analyse approfondie de votre secteur d'activité et de vos concurrents. Nous identifions les tendances de votre marché afin de créer un logo qui se distingue tout en s’inscrivant dans les attentes de votre public.</P>
			<P>
				<b>2. Définition de l’Identité de Marque :
				</b>
				Un logo efficace commence par une compréhension claire de votre marque. Nous travaillons avec vous pour définir les éléments clés de votre identité (valeurs, mission, vision) et les transformer en concepts visuels.</P>
			<P>
				<b>3. Design sur Mesure et Propositions Créatives :
				</b>
				Notre équipe conçoit plusieurs pistes de logos afin de vous offrir une palette de choix qui répondent à vos attentes. Vous pourrez ainsi explorer différentes options et affiner les éléments de votre futur logo jusqu’à atteindre le résultat idéal.</P>
			<P>
				<b>4. Finitions et Variations du Logo :
				</b>
				Une fois le design final validé, nous réalisons des variations adaptées à différents supports (digital, imprimé, monochrome, etc.). Nous veillons à ce que votre logo reste parfaitement identifiable, peu importe le contexte.</P>
			<P>
				<b>5. Livraison des Fichiers et Charte Graphique :
				</b>
				Votre logo vous sera livré dans divers formats (PNG, JPG, SVG, PDF) pour une utilisation immédiate. En option, nous pouvons également vous fournir une charte graphique qui guidera toutes vos futures communications visuelles.</P>

		</div>


		<div class="module-inspiration" style="background: #b8b8b8">
			<div class="module-inspiration-content">
				<div class="module-inpiration-float-right">
					<p class="module-inspiration-titre" style="color: #ffffff; margin-top: 210px">
						Arrêtez d'être invisible !
					</p>
					<p class="module-inspiration-texte" style="color: #ffffff">
						Nos experts en communication et en création graphique sont à
												                votre service pour rendre votre identité forte et percutante !
					</p>
					<p class="module-inspiration-lien">
						<a href="{{path('app_contact')}}" style="color: #ffffff">Contactez-nous d'urgence
						</a>
					</p>
				</div>
				<div class="module-inpiration-float-left">
					<img src="{{asset('asset/tmp/inspiration/creation-invisible-995.png')}}" alt="ne soyez plus invisible"/>
				</div>
				<div class="clear"></div>
			</div>
		</div>


		<div class="module-texte">
			<h4>Pourquoi Nous Choisir pour la Création de Votre Logo ?</h4>
			<p>
				Avec notre équipe, vous bénéficiez d’un accompagnement professionnel de bout en bout et d'une expertise créative, pour un logo qui saura marquer votre audience et évoluer avec votre entreprise. Nous concevons chaque logo pour qu'il soit intemporel et adaptable, garantissant ainsi une image forte et durable pour votre marque.

			</p>
            <p>Prêt à donner vie à votre identité visuelle ? Contactez-nous dès aujourd’hui pour démarrer la création d’un logo qui reflète votre passion et votre professionnalisme.</p>

		</div>
		<div class="module-inspiration" style="background: #e3e3e3">
			<div class="module-inspiration-content">
				<div class="module-inpiration-float-left">
					<img src="../asset/tmp/inspiration/manque-inspi-139.png" alt="manque d'inspiration"/>
				</div>
				<div class="module-inpiration-float-right">
					<p class="module-inspiration-titre" style="color: #444444; margin-top: 210px">
						Manque d'inspiration ?
					</p>
					<p class="module-inspiration-texte" style="color: #444444">
						Notre studio de création graphique est là pour vous accompagner
												                et pour vous conseiller au mieux tout au long du processus de
												                conception de vos futurs projets publicitaires. N'hésitez pas à
												                nous consulter ! La pré-maquette est SANS ENGAGEMENT !*
					</p>
					<p class="module-inspiration-lien">
						<a href="../nous-contacter.html" style="color: #444444">Contactez-nous
						</a>
					</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="module-texte">
			<h4>Votre Logo OFFERT*
				<br>pour lancer votre entreprise !
			</h4>
			<p>
				Nous savons qu’un bon départ est essentiel pour toute entreprise. Votre logo, premier reflet de votre identité et de votre vision, est bien plus qu’une simple image. C’est le premier contact que vous établissez avec vos futurs clients, un symbole qui transmet vos valeurs et vous distingue de vos concurrents. Et pour vous soutenir dès vos débuts, nous avons décidé de vous offrir la création de votre logo !
			</p>


			<p>
				Avec CREATIV, faites le choix d'une solution intégrée et performante, pensée pour transformer vos ambitions digitales en succès mesurables et durables.
			</p>

			<p>
				Si tant d'entreprises nous sollicitent à titre d’expert pour tous leurs besoins en communication
				        c’est qu’elles nous font confiance.
			</p>


		</div>
		<div class="module-inspiration" style="background: #b8b8b8">
			<div class="module-inspiration-content">
				<div class="module-inpiration-float-right">
					<p class="module-inspiration-titre" style="color: #ffffff; margin-top: 210px">
						On vous pousse
						<br/>vers le haut !
					</p>
					<p class="module-inspiration-texte" style="color: #ffffff">
						Notre motivation première : faire le maximum pour votre
																																																																		                réussite. Parce que participer au bon fonctionnement de votre
																																																																		                entreprise se répercute sur l'image de notre société, nous
																																																																		                serons les premiers à vous soutenir et à vous pousser vers le
																																																																		                haut !
					</p>
					<p class="module-inspiration-lien">
						<a href="../../nous-contacter.html" style="color: #ffffff">Contactez-nous pour une offre sur-mesure et sans engagement
							<br/>
							CLIQUEZ ICI</a>
					</p>
				</div>
				<div class="module-inpiration-float-left">
					<img src="{{asset('asset/tmp/inspiration/pousse-vers-haut-243.png')}}" alt="createur entreprise"/>
				</div>
				<div class="clear"></div>
			</div>
		</div>


		<div class="module-essentiel">
			<div class="module-essentiel-content">
				<p class="module-essentiel-titre">L'essentiel</p>
				<div class="module-essentiel-blocks">
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Obtenir un devis gratuit
						</div>
						<div class="module-essentiel-block-texte">
							Faites-nous part de votre demande précise par e-mail en
																																																																																																																                  indiquant le type de besoin, la quantité, les dimensions, la
																																																																																																																                  finition, etc. Vous recevrez votre devis dans un délai maximum
																																																																																																																                  de 48 heures.
						</div>
						<div class="module-essentiel-block-contactez-nous">
							<a href="../nous-contacter.html">
								<i class="fas fa-envelope" aria-hidden></i>
								contactez-nous
																																																																																																																																                    par mail</a>
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Commande urgente ?
						</div>
						<div class="module-essentiel-block-texte">
							Une demande en urgence ? Un projet de dernière minute ? Vous
																																																																																																																                  avez besoin de votre commande rapidement ?<br/>Nous avons
																																																																																																																                  toujours des solutions, renseignez-vous !
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Livraison gratuite*
						</div>
						<div class="module-essentiel-block-texte">
							Livraison gratuite pour toute commande effectuée sur notre
																																																																																																																                  site internet, en Algérie, et uniquement pour nos produits
																																																																																																																                  d'impression.
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">Testez-nous</div>
						<div class="module-essentiel-block-texte">
							Vous pouvez obtenir une démo ou une pré-maquette pour
																																																																																																																                  visualiser l'étendue de nos capacités créatives. Testez-nous,
																																																																																																																                  c'est gratuit et sans engagement* !
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Facilités de paiement
						</div>
						<div class="module-essentiel-block-texte">
							Profitez de notre option de paiement flexible en deux tranches
																																																																																																																                  : un premier versement à la commande et un deuxième à la fin
																																																																																																																                  du projet lors de la livraison. Ainsi, vous pouvez démarrer
																																																																																																																                  votre activité sereinement tout en gérant votre budget !
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">Venez à l’agence</div>
						<div class="module-essentiel-block-texte">
							Vous pourrez y travailler directement avec l’un de nos
																																																																																																																                  graphistes*, toucher les matières de certains produits...,
																																																																																																																                  rien de mieux pour avancer efficacement et selon vos
																																																																																																																                  directives. Repartez avec votre devis et votre maquette.
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">On vous rappelle</div>
						<div class="module-essentiel-block-texte">
							Vous n’arrivez pas à nous joindre par téléphone ? Laissez-nous
																																																																																																																                  votre numéro, et nous vous rappellerons dans la journée.
						</div>
						<div class="on-vous-rappelle">
							<input type="text" placeholder="Notez ici votre numéro" id="on-vous-rappelle-input"/>
							<button id="on-vous-rappelle-button">
								<i class="fas fa-paper-plane" aria-hidden></i>
							</button>
							<div class="on-vous-rappelle-message" id="on-vous-rappelle-message"></div>
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">Appelez-nous</div>
						<div class="module-essentiel-block-texte">
							Vous avez des questions sur l’un de nos produits&nbsp;? Vous
																																																																																																																                  souhaitez avoir l’avis d’un spécialiste&nbsp;? Vous souhaitez
																																																																																																																                  un rendez-vous&nbsp;?
						</div>
						<div class="module-essentiel-block-telephone">
							<span>+213</span>
							(0) 797 80 20 48
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="module-info">
			<div class="module-info-content">
				<div class="module-info-item">
					<img src="../asset/img/check.svg" alt="Engagement qualité, poseurs qualifiés" class="module-info-item-img"/>
					<div class="module-info-item-title">
						Engagement qualité,<br/>développeurs experts
					</div>
					<div class="module-info-item-text">
						Votre projet est entièrement pris en charge
						<br/>du
																																																																																																                développement à la mise en ligne.
					</div>
				</div>
				<div class="module-info-item">
					<img src="{{asset('asset/img/phone.svg')}}" alt="Un service téléphonique disponible" class="module-info-item-img"/>
					<div class="module-info-item-title">
						Un service<br/>téléphonique disponible
					</div>
					<div class="module-info-item-text">
						7J/7 de 9h à 12h00<br/>
						et de 14h à 19h00.
					</div>
				</div>
				<div class="module-info-item">
					<img src="{{asset('asset/img/pencil.svg')}}" alt="Des créatifs dédiés à votre projet" class="module-info-item-img"/>
					<div class="module-info-item-title">
						Des créatifs dédiés<br/>à votre projet
					</div>
					<div class="module-info-item-text">
						Des créations originales<br/>et sur-mesure.
					</div>
				</div>
			</div>
		</div>

	</main>

	<div class="bubble-question" id="bubble-question">
		<span class="bubble-question-tooltip">VOUS AVEZ DES QUESTIONS ?</span>
		<div class="bubble-question-content" id="bubble-question-content">
			<div class="bubble-question-content-title">
				VOUS AVEZ DES QUESTIONS ?
			</div>
			<div class="bubble-question-content-close" id="bubble-question-content-close">
				&times;
			</div>
			<div class="bubble-question-container-1" id="bubble-question-container-1">
				<div class="bubble-question-container-1-line bubble-question-container-1-line-1">
					Téléphonez-nous :<br/>0554 29 35 40
					<i class="fas fa-phone" aria-hidden></i>
				</div>
				<div class="bubble-question-container-1-line bubble-question-container-1-line-2" id="bubble-question-container-1-line-2">
					Cliquez ici pour nous<br/>laisser un message
					<i class="fas fa-envelope" aria-hidden></i>
				</div>
			</div>
			<div class="bubble-question-container-2" id="bubble-question-container-2">
				<label for="bubble-input-1">Nom :</label>
				<input type="text" name="name" id="bubble-input-1" autocomplete="off"/>
				<label for="bubble-input-2">Email :</label>
				<input type="text" name="email" id="bubble-input-2" autocomplete="off"/>
				<label for="bubble-input-3">Message :</label>
				<textarea name="content" id="bubble-input-3"></textarea>
				<div class="bubble-btn" id="bubble-btn" data-link="../../asset/core/live-contact.html">
					Envoyer
				</div>
			</div>
		</div>
	</div>


		<script src="{{asset('asset/js/def1.js')}}"></script>

<script src="{{asset('asset/js/min/app.minc61c.js?id=e8617fbfb7694bb14a80514d77aa7472ab6376a1')}}" async></script>
<noscript id="deferred-styles">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,400italic,700"/>
</noscript>

	<script>
		var loadDeferredStyles = function () {
var addStylesNode = document.getElementById("deferred-styles");
var replacement = document.createElement("div");
replacement.innerHTML = addStylesNode.textContent;
document.body.appendChild(replacement)
addStylesNode.parentElement.removeChild(addStylesNode);
};
var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
if (raf) 
raf(function () {
window.setTimeout(loadDeferredStyles, 0);
});
 else 
window.addEventListener('load', loadDeferredStyles);
	</script>
{% endblock %}
