{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('asset/css/siteweb.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('asset/slider.css')}}">

{% endblock %}

{% block body %}

	<main>
		<div class="module-slide" style="margin-top: 100px;">
			<div
				id="slider1_container" style="position:relative;margin:0
																									                        auto;top:0;left:0;width:1600px;height:600px;overflow:hidden;">
				<!-- Slides Container -->
				<div u="slides" style="cursor:move;position:absolute;left:0;top:0;width:1600px;height:600px;overflow:hidden;">
					<div><img u="image" src="{{asset('asset/tmp/slide/slide2-742.jpg')}}" alt="slide site vitrine"></div>
					<div><img u="image" src="{{asset('asset/tmp/slide/slide1-284.jpg')}}" alt=""></div>
				</div>
				<!-- Arrow Navigator Skin Begin -->
				<span u="arrowleft" class="jssora21l" style="width:55px;height:55px;top:123px;left:8px;"></span>
				<span u="arrowright" class="jssora21r" style="width:55px;height:55px;top:123px;right:8px"></span>
				<div u="navigator" class="jssorb17" style="position:absolute;bottom:16px;right:6px;">
					<div u="prototype" style="position:absolute;width:16px;height:16px;"></div>
				</div>
				<!-- Arrow Navigator Skin End -->

			</div>
		</div>

		<div class="module-titre" style="padding-top:0;">
			<h1 class="module-titre-principal">
				Création de site internet - site vitrine<br/>site boutique -
																																																            création - refonte de site web
			</h1>
			<h2 class="module-titre-secondaire">
				devis rapide en ligne - site vitrine - site e-commerce -
																																																            référencement - créer un site internet - tarif création de site web
																																																            - site boutique - création site pas cher
			</h2>
		</div>

		<div class="module-inspiration" style="background: #ffffff">
			<div class="module-inspiration-content">
				<div class="module-inpiration-float-left">
					<img src="{{asset('asset/tmp/inspiration/5-minutes-logo-668.png')}}" alt="devis site internet 5 min"/>
				</div>
				<div class="module-inpiration-float-right">
					<p class="module-inspiration-titre" style="color: #444444; margin-top: 210px">
						Votre devis en 5 minutes !
					</p>
					<p class="module-inspiration-texte" style="color: #444444">
						Calculez le coût de réalisation de votre site internet, au plus
																																																																								                juste, en moins de 5 minutes !
					</p>
					<p class="module-inspiration-lien">
						<a href="../website.html" style="color: #444444">DEVIS EN LIVE, cliquez ICI</a>
					</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="module-texte">
			<h2>Osez rêver d’un site web à votre image !</h2>
			<p>
				<br/>La création de site internet est aujourd'hui une étape
																																																            essentielle pour toute entreprise souhaitant se faire connaître et
																																																            atteindre un public plus large. Que vous envisagiez un site vitrine
																																																            pour présenter vos services et renforcer votre image de marque, ou
																																																            une plateforme ecommerce pour vendre directement vos produits en
																																																            ligne, un site bien conçu est un atout stratégique incontournable.
																																																            Un site vitrine permet de mettre en avant votre expertise, d'attirer
																																																            des clients potentiels et de les fidéliser, tandis qu'un site
																																																            ecommerce ouvre la porte à des opportunités de ventes en ligne,
																																																            partout et à toute heure. Investir dans un site internet optimisé,
																																																            moderne et bien référencé, c'est poser les bases solides pour une
																																																            visibilité durable et un positionnement avantageux face à la
																																																            concurrence dans l’univers digital.
			</p>
			<h2>Création de A à Z<br/></h2>
			<p>
				Nous créons pour vous un site internet sur mesure, qu’il s’agisse
																																																            d’un site vitrine pour renforcer votre présence en ligne ou d’un
																																																            site ecommerce pour développer vos ventes. Avec notre offre claire
																																																            et sans frais cachés, nous vous accompagnons pas à pas : un
																																																            questionnaire détaillé nous permet de comprendre précisément vos
																																																            besoins pour une solution adaptée, sans surprises ni coûts
																																																            additionnels. Vous bénéficiez ainsi d’une prestation complète et
																																																            transparente qui vous assure une tranquillité d’esprit. C’est ce
																																																            souci de clarté et de qualité qui nous vaut la confiance de nos
																																																            clients !
			</p>
		</div>

		<div class="module-texte">
			<div class="quatre-block-internet-content">
				<div class="quatre-block-internet">
					<a href="site-internet/site-vitrine.html">
						<div class="quatre-block-internet-item">
							<img src="{{asset('asset/img/site-vitrine-min.png')}}" alt="Site Vitrine"/>
							<p>
								Site Vitrine<span>Nous réalisons une solution unique et personnalisée,
																																																																																																												                      fidèle à votre image, pour valoriser votre activité et
																																																																																																												                      attirer vos clients</span>
							</p>
						</div>
					</a>
					<a href="site-internet/site-e-commerce.html">
						<div class="quatre-block-internet-item">
							<img src="{{asset('asset/img/site-e-commerce-min.png')}}" alt="Site E-commerce"/>
							<p>
								Site E-commerce<span>Nous concevons votre boutique en ligne pour maximiser la
																																																																																																												                      visibilité et l'impact de vos produits auprès de vos
																																																																																																												                      clients.</span>
							</p>
						</div>
					</a>
					<a href="site-internet/hebergement.html">
						<div class="quatre-block-internet-item">
							<img src="{{asset('asset/img/hebergement-min.png')}}" alt="Hébergement"/>
							<p>
								Hébergement<span>Nous offrons l'hébergement de vos sites web sur des
																																																																																																												                      serveurs performants pour une fiabilité optimale.</span>
							</p>
						</div>
					</a>
					<a href="site-internet/referencement.html">
						<div class="quatre-block-internet-item">
							<img src="{{asset('asset/img/referencement-min.png')}}" alt="Référencement"/>
							<p>
								Référencement<span>Nous vous apportons la visibilité dont vous avez besoin
																																																																																																												                      grâce à un référencement de site internet optimisé.</span>
							</p>
						</div>
					</a>
					<div class="clear"></div>
				</div>
			</div>
		</div>

		<div class="module-texte">
			<h2>
				L'importance d'un bon référencement<br/>pour votre site Internet
			</h2>
			<p>
				Un référencement optimisé de votre site web est essentiel pour
																																																            renforcer votre stratégie marketing, améliorer votre image de
																																																            marque, et maintenir une connexion directe avec vos clients,
																																																            fournisseurs et partenaires.
			</p>
			<p>
				Avoir un site internet est un atout indéniable, mais sa visibilité
																																																            est primordiale. Référencer son site est donc impératif pour
																																																            garantir qu'il soit facilement accessible. Aujourd'hui, la majorité
																																																            des utilisateurs d'Internet passent par des outils de recherche, ce
																																																            qui rend essentiel d'apparaître dans les premiers résultats pour
																																																            maximiser les chances d'attirer des visiteurs.
				<br/><br/>
			</p>
			<hr/>
			<p><br/></p>
			<h2>
				Être présent sur Internet, c'est un bon début<br/>mais être
																																																            visible, c'est encore mieux !
			</h2>
			<p><br/></p>
			<hr/>
			<p>
				<br/>
				Le référencement offre à votre site internet l'opportunité d'être
																																																            visible. Tout le travail de création de site n'a de valeur que si
																																																            les visiteurs peuvent y accéder. Un effet « boule de neige » se met
																																																            en place, renforçant la popularité d'un site au fil du temps.
																																																            Cependant, pour en récolter les bénéfices, il est essentiel d'être
																																																            d'abord facilement trouvable sur Internet.
			</p>
			<p>
				Il est essentiel d'être bien positionné dans les moteurs de
																																																            recherche, c'est-à-dire figurer parmi les premières lignes de la
																																																            première page de résultats. L'utilisation de mots-clés pertinents
																																																            vous permettra de devancer vos concurrents et d'attirer davantage de
																																																            visiteurs.
			</p>
			<p>
				Sans un bon référencement, il est crucial d'être recommandé par
																																																            d'autres sites qui intègrent des liens vers votre URL, ou de
																																																            bénéficier du bouche-à-oreille pour attirer des visiteurs.
			</p>
		</div>

		<div class="module-inspiration" style="background: #b8b8b8">
			<div class="module-inspiration-content">
				<div class="module-inpiration-float-left">
					<img src="{{asset('asset/tmp/inspiration/pousse-vers-haut-719.png')}}" alt="createur entreprise"/>
				</div>
				<div class="module-inpiration-float-right">
					<p class="module-inspiration-titre" style="color: #ffffff; margin-top: 210px">
						Nous vous propulsons
						<br/>vers de nouveaux sommets !
					</p>
					<p class="module-inspiration-texte" style="color: #ffffff">
						Notre priorité est de maximiser votre réussite. En contribuant
																																																																								                au bon fonctionnement de votre entreprise, nous renforçons
																																																																								                également notre propre image. Soyez assurés que nous serons
																																																																								                toujours là pour vous soutenir et vous propulser vers de
																																																																								                nouveaux sommets !
					</p>
					<p class="module-inspiration-lien">
						<a href="../nous-contacter.html" style="color: #ffffff">Demander une étude personnalisée</a>
					</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="module-texte">
			<h2>
				Création d’un site web : Opter pour un CMS ou une solution
																																																            sur-mesure ?
			</h2>
			<p><br/></p>
			<h2>Une multitude de CMS à votre disposition</h2>
			<p>
				Bien que WordPress dominait le marché en 2018, de nombreux autres
																																																            sites offrent des services de CMS pour ceux qui souhaitent
																																																            simplifier la création et la gestion de leur site web.
			</p>
			<p>
				Ainsi, Adobe Dreamweaver et Joomla! se positionnent juste après le
																																																            géant WordPress, gérant chacun plusieurs millions de sites internet.
																																																            Les avantages de ces plateformes sont indéniables pour la création
																																																            d’un site web, offrant un gain de temps significatif dans la gestion
																																																            et une mise en place facilitée. Cependant, les CMS présentent
																																																            également de réels inconvénients.
			</p>
			<p>
				En effet, la personnalisation est souvent limitée, surtout en ce qui
																																																            concerne les graphismes, l'intégration de contenus spécifiques, et
																																																            la sécurité. Les sites WordPress, par exemple, sont fréquemment la
																																																            cible de tentatives de piratage.
			</p>
			<h3>Le site Web sur-mesure :</h3>
			<h3>la garantie d'une liberté totale</h3>
			<p>
				Face à ces inconvénients, la création d’un site web sur-mesure
																																																            présente des avantages indéniables. Le principal d'entre eux est la
																																																            liberté totale dans la conception des graphismes et de tous les
																																																            éléments du site. Aujourd'hui, de nombreux développeurs web offrent
																																																            leur expertise pour réaliser des sites de A à Z, en intégrant toutes
																																																            les demandes et souhaits du client.
			</p>
			<p>
				NEXTLEVEL met l'accent sur l'aspect humain du site web. Cela se
																																																            traduit par la création de sites véritablement sur-mesure, fruit
																																																            d'un travail collaboratif approfondi entre des collaborateurs
																																																            passionnés et motivés. Dans une atmosphère conviviale, nous
																																																            favorisons la créativité et donnons vie à vos idées.
			</p>
		</div>

		<div class="module-texte">
			<hr/>
			<p><br/></p>
			<h2>La solution du site Internet Gratuit</h2>
			<p>
				Vous avez la possibilité de créer votre site vous-même sur un
																																																            hébergement gratuit proposé par un fournisseur ADSL. Cependant,
																																																            plusieurs inconvénients doivent être pris en compte :
			</p>
			<p>
				La mise en page d'un site internet peut souvent être longue et
																																																            complexe, et le design apparaît généralement très 'amateur'.<br/><br/>
				L'impossibilité de référencer le site web avec un nom de domaine
																																																            professionnel sur un hébergement gratuit.<br/><br/>
				Le référencement dans les moteurs de recherche pour les mots-clés de
																																																            votre activité nécessite une expertise et un savoir-faire, notamment
																																																            dans la structure et la création du site internet, ainsi que dans
																																																            l'élaboration du contenu et la soumission auprès des moteurs de
																																																            recherche et des annuaires.<br/>
			</p>
		</div>

		<div class="module-inspiration" style="background: #e3e3e3">
			<div class="module-inspiration-content">
				<div class="module-inpiration-float-left">
					<img src="{{asset('asset/tmp/inspiration/bloc-inspi-idee-2-999.png')}}" alt="idée créative"/>
				</div>
				<div class="module-inpiration-float-right">
					<p class="module-inspiration-titre" style="color: #444444; margin-top: 210px">
						Besoin d'aides ?
					</p>
					<p class="module-inspiration-texte" style="color: #444444">
						Nos experts sont à votre disposition pour vous accompagner et
																																																																								                vous conseiller tout au long du processus de conception de vos
																																																																								                futurs projets web. N’hésitez pas à nous consulter !
					</p>
					<p class="module-inspiration-lien">
						<a href="../nous-contacter.html" style="color: #444444">Contactez-nous
						</a>
					</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="module-texte">
			<h2>Optez pour un site internet "clé en main" !</h2>
			<p>
				<br/>
				Qualité, originalité, design moderne et hébergement sécurisé :
																																																            telles sont nos ambitions quotidiennes pour satisfaire nos clients.
																																																            Fort de notre expérience en création web et en conception de sites,
																																																            NEXTLEVEL vous proposera un site au design soigné, aligné sur votre
																																																            identité visuelle et optimisé pour votre activité. Pour votre
																																																            confort, nous gérons en interne l'évolution et l'hébergement de
																																																            votre site, vous offrant ainsi une prestation entièrement "clé en
																																																            main" !
				<br/>
			</p>
			<h2>Responsive Design</h2>
			<p>
				<br/>
				Des sites adaptés à tous les outils numériques. Avec l'essor des
																																																            dispositifs utilisés par les particuliers et les professionnels,
																																																            tels que les tablettes, smartphones et ordinateurs portables, nous
																																																            concevons des sites en Responsive design. Cette méthode est
																																																            désormais indispensable pour atteindre le plus grand nombre
																																																            d’utilisateurs, tout en garantissant une expérience de navigation
																																																            optimale.
			</p>
			<p>
				En quoi consiste le responsive design ? La taille de la fenêtre
																																																            d'affichage du site s'ajuste automatiquement en fonction de l'outil
																																																            utilisé. Cela garantit une consultation optimale, facilitant ainsi
																																																            la lecture et la navigation.
			</p>
		</div>


		<div class="galerie galerie-module-exemple">
			<div class="galerie-title galerie-title-module-exemple">
				Exemples de réalisations
			</div>
			<div class="galerie-content">
				<div class="galerie-content-items">
					<a href="{{asset('asset/2.avif')}}" class="galerie-content-item galerie-content-item-1 image-popup">
						<img src="{{asset('asset/2.avif')}}" alt="creation de site internet automobile" class="galerie-content-item-img"/>
						<span class="galerie-content-item-background">
							<span class="galerie-content-item-text">
								<span class="galerie-content-item-text-categorie">Site internet</span>
								<span class="galerie-content-item-text-description">Site internet pour BMC AUTO</span>
							</span>
						</span>
						<span class="galerie-content-item-border"></span>
					</a>
					<a href="{{asset('asset/1.avif')}}" class="galerie-content-item galerie-content-item-2 image-popup">
						<img src="{{asset('asset/1.avif')}}" alt="Creation de site internet pour sgm" class="galerie-content-item-img"/>
						<span class="galerie-content-item-background">
							<span class="galerie-content-item-text">
								<span class="galerie-content-item-text-categorie">Site internet</span>
								<span class="galerie-content-item-text-description">Création de site internet pour SGM</span>
							</span>
						</span>
						<span class="galerie-content-item-border"></span>
					</a>
					<a href="{{asset('asset/3.avif')}}" class="galerie-content-item galerie-content-item-3 image-popup">
						<img src="{{asset('asset/3.avif')}}" alt="Site internet pour l'opticienne Alicia Colmart" class="galerie-content-item-img"/>
						<span class="galerie-content-item-background">
							<span class="galerie-content-item-text">
								<span class="galerie-content-item-text-categorie">Site internet</span>
								<span class="galerie-content-item-text-description">Site internet pour l'opticienne Alicia Colmart</span>
							</span>
						</span>
						<span class="galerie-content-item-border"></span>
					</a>
					<a href="{{asset('asset/4.avif')}}" class="galerie-content-item galerie-content-item-4 image-popup">
						<img src="{{asset('asset/4.avif')}}" alt="SITE-INTERNET-CENTRE-sport" class="galerie-content-item-img"/>
						<span class="galerie-content-item-background">
							<span class="galerie-content-item-text">
								<span class="galerie-content-item-text-categorie">Site internet</span>
								<span class="galerie-content-item-text-description">site web pour centre sportif</span>
							</span>
						</span>
						<span class="galerie-content-item-border"></span>
					</a>
					<a href="{{asset('asset/5.avif')}}" class="galerie-content-item galerie-content-item-5 image-popup">
						<img src="{{asset('asset/5.avif')}}" alt="creation de site internet kart innov" class="galerie-content-item-img"/>
						<span class="galerie-content-item-background">
							<span class="galerie-content-item-text">
								<span class="galerie-content-item-text-categorie">Site internet</span>
								<span class="galerie-content-item-text-description">creation de site internet pour Kart Innov</span>
							</span>
						</span>
						<span class="galerie-content-item-border"></span>
					</a>
				</div>
			</div>

			
		</div>

		<div class="module-essentiel">
			<div class="module-essentiel-content">
				<p class="module-essentiel-titre">L'essentiel</p>
				<div class="module-essentiel-blocks">
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Obtenir un devis gratuit
						</div>
						<div class="module-essentiel-block-texte">
							Faites-nous part de votre demande précise par e-mail en
																																																																																				                  indiquant le type de besoin, la quantité, les dimensions, la
																																																																																				                  finition, etc. Vous recevrez votre devis dans un délai maximum
																																																																																				                  de 48 heures.
						</div>
						<div class="module-essentiel-block-contactez-nous">
							<a href="../nous-contacter.html">
								<i class="fas fa-envelope" aria-hidden></i>
								contactez-nous
																																																																																																                    par mail</a>
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Commande urgente ?
						</div>
						<div class="module-essentiel-block-texte">
							Une demande en urgence ? Un projet de dernière minute ? Vous
																																																																																				                  avez besoin de votre commande rapidement ?<br/>Nous avons
																																																																																				                  toujours des solutions, renseignez-vous !
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Livraison gratuite*
						</div>
						<div class="module-essentiel-block-texte">
							Livraison gratuite pour toute commande effectuée sur notre
																																																																																				                  site internet, en Algérie, et uniquement pour nos produits
																																																																																				                  d'impression.
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">Testez-nous</div>
						<div class="module-essentiel-block-texte">
							Vous pouvez obtenir une démo ou une pré-maquette pour
																																																																																				                  visualiser l'étendue de nos capacités créatives. Testez-nous,
																																																																																				                  c'est gratuit et sans engagement* !
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Facilités de paiement
						</div>
						<div class="module-essentiel-block-texte">
							Profitez de notre option de paiement flexible en deux tranches
																																																																																				                  : un premier versement à la commande et un deuxième à la fin
																																																																																				                  du projet lors de la livraison. Ainsi, vous pouvez démarrer
																																																																																				                  votre activité sereinement tout en gérant votre budget !
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">Venez à l’agence</div>
						<div class="module-essentiel-block-texte">
							Vous pourrez y travailler directement avec l’un de nos
																																																																																				                  graphistes*, toucher les matières de certains produits...,
																																																																																				                  rien de mieux pour avancer efficacement et selon vos
																																																																																				                  directives. Repartez avec votre devis et votre maquette.
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">On vous rappelle</div>
						<div class="module-essentiel-block-texte">
							Vous n’arrivez pas à nous joindre par téléphone ? Laissez-nous
																																																																																				                  votre numéro, et nous vous rappellerons dans la journée.
						</div>
						<div class="on-vous-rappelle">
							<input type="text" placeholder="Notez ici votre numéro" id="on-vous-rappelle-input"/>
							<button id="on-vous-rappelle-button">
								<i class="fas fa-paper-plane" aria-hidden></i>
							</button>
							<div class="on-vous-rappelle-message" id="on-vous-rappelle-message"></div>
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">Appelez-nous</div>
						<div class="module-essentiel-block-texte">
							Vous avez des questions sur l’un de nos produits&nbsp;? Vous
																																																																																				                  souhaitez avoir l’avis d’un spécialiste&nbsp;? Vous souhaitez
																																																																																				                  un rendez-vous&nbsp;?
						</div>
						<div class="module-essentiel-block-telephone">
							<span>+213</span>
							(0) 797 80 20 48
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="module-info">
			<div class="module-info-content">
				<div class="module-info-item">
					<img src="../asset/img/check.svg" alt="Engagement qualité, poseurs qualifiés" class="module-info-item-img"/>
					<div class="module-info-item-title">
						Engagement qualité,<br/>développeurs experts
					</div>
					<div class="module-info-item-text">
						Votre projet est entièrement pris en charge
						<br/>du
																																																																								                développement à la mise en ligne.
					</div>
				</div>
				<div class="module-info-item">
					<img src="{{asset('asset/img/phone.svg')}}" alt="Un service téléphonique disponible" class="module-info-item-img"/>
					<div class="module-info-item-title">
						Un service<br/>téléphonique disponible
					</div>
					<div class="module-info-item-text">
						7J/7 de 9h à 12h00<br/>
						et de 14h à 19h00.
					</div>
				</div>
				<div class="module-info-item">
					<img src="{{asset('asset/img/pencil.svg')}}" alt="Des créatifs dédiés à votre projet" class="module-info-item-img"/>
					<div class="module-info-item-title">
						Des créatifs dédiés<br/>à votre projet
					</div>
					<div class="module-info-item-text">
						Des créations originales<br/>et sur-mesure.
					</div>
				</div>
			</div>
		</div>
	</main>

	<div class="bubble-question" id="bubble-question">
		<span class="bubble-question-tooltip">VOUS AVEZ DES QUESTIONS ?</span>
		<div class="bubble-question-content" id="bubble-question-content">
			<div class="bubble-question-content-title">
				VOUS AVEZ DES QUESTIONS ?
			</div>
			<div class="bubble-question-content-close" id="bubble-question-content-close">
				&times;
			</div>
			<div class="bubble-question-container-1" id="bubble-question-container-1">
				<div class="bubble-question-container-1-line bubble-question-container-1-line-1">
					Téléphonez-nous :<br/>0554 29 35 40
					<i class="fas fa-phone" aria-hidden></i>
				</div>
				<div class="bubble-question-container-1-line bubble-question-container-1-line-2" id="bubble-question-container-1-line-2">
					Cliquez ici pour nous<br/>laisser un message
					<i class="fas fa-envelope" aria-hidden></i>
				</div>
			</div>
			<div class="bubble-question-container-2" id="bubble-question-container-2">
				<label for="bubble-input-1">Nom :</label>
				<input type="text" name="name" id="bubble-input-1" autocomplete="off"/>
				<label for="bubble-input-2">Email :</label>
				<input type="text" name="email" id="bubble-input-2" autocomplete="off"/>
				<label for="bubble-input-3">Message :</label>
				<textarea name="content" id="bubble-input-3"></textarea>
				<div class="bubble-btn" id="bubble-btn" data-link="../asset/core/live-contact.html">
					Envoyer
				</div>
			</div>
		</div>
	</div>


</main>{% endblock %}{% block javascripts %}
<script src="{{asset('asset/js/1.js')}}"></script>

<script src="{{asset('asset/js/main.min38d1.js?id=534d2bccc6f75be47b39')}}"></script>


<script>
	var loadDeferredStyles = function () {
var addStylesNode = document.getElementById("deferred-styles");
var replacement = document.createElement("div");
replacement.innerHTML = addStylesNode.textContent;
document.body.appendChild(replacement)
addStylesNode.parentElement.removeChild(addStylesNode);
};
var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
if (raf) 
raf(function () {
window.setTimeout(loadDeferredStyles, 0);
});
 else 
window.addEventListener('load', loadDeferredStyles);
</script>

{% endblock %}
