{% extends 'base.html.twig' %}
	{% block title %}
	CREATIV | Création de site internet Catalogue Paris Oran
	{% endblock %}
    {% block stylesheets %}
	<link rel="stylesheet" href="{{asset('asset/css/website.css')}}">
	<link rel="stylesheet" href="{{asset('asset/css/1.css')}}">
	<link rel="stylesheet" href="{{asset('asset/css/2.css')}}">
	<link rel="stylesheet" href="{{asset('asset/css/3.css')}}">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{asset('asset/slider.css')}}">

{% endblock %}
{% block body %}

	<main>

		<div class="module-slide" style="margin-top: 100px;">
			<div
				id="slider1_container" style="position:relative;margin:0
																									                        auto;top:0;left:0;width:1600px;height:600px;overflow:hidden;">
				<!-- Slides Container -->
				<div u="slides" style="cursor:move;position:absolute;left:0;top:0;width:1600px;height:600px;overflow:hidden;">
					<div><img u="image" src="{{asset('asset/tmp/slide/slidecatalogue1-153.jpg')}}" alt="slide site vitrine"></div>
					<div><img u="image" src="{{asset('asset/tmp/slide/slidecatalogue2-380.jpg')}}" alt=""></div>
				</div>
				<!-- Arrow Navigator Skin Begin -->
				<span u="arrowleft" class="jssora21l" style="width:55px;height:55px;top:123px;left:8px;"></span>
				<span u="arrowright" class="jssora21r" style="width:55px;height:55px;top:123px;right:8px"></span>
				<div u="navigator" class="jssorb17" style="position:absolute;bottom:16px;right:6px;">
					<div u="prototype" style="position:absolute;width:16px;height:16px;"></div>
				</div>
				<!-- Arrow Navigator Skin End -->

			</div>
		</div>

            <div class="module-titre">
                <h1 class="module-titre-principal">
                    Création de site internet / site catalogue :<br />pour mettre en
                    ligne et présenter vos produits !
                </h1>
                <h2 class="module-titre-secondaire">
                    devis rapide en ligne - site catalogue - site de présentation de
                    produit - développement web - présence en ligne
                </h2>
            </div>


            <div class="module-texte">
                <h2>C'est quoi un site catalogue ?</h2>
                <p>
                    Un <strong>site catalogue</strong> est un site dont l'un des
                    objectifs est de présenter de manière détaillée une partie ou la
                    totalité du catalogue produit d'une entreprise. Ce<strong>
                        catalogue</strong>
                    peut contenir des milliers de fiches produit, ce qui le différencie
                    d'un site web vitrine, qui ne comporte généralement que quelques
                    pages de présentation générale. Un site web permettant de
                    télécharger un catalogue au format PDF n'est pas à proprement parler
                    un<strong> site web catalogue</strong>. <br />
                </p>
                <p>
                    Les sites catalogues sont particulièrement utilise pour faire
                    connaître ses produits quand on ne souhaite pas proposer des
                    services de e-commerce.
                    <br />
                    Grâce à un contenu de qualité, les internautes seront plus nombreux
                    à visiter <strong>le site catalogue</strong>. Pour ainsi dire,
                    <strong>le site catalogue</strong> n'est pas non plus un site
                    d'e-commerce. Il ne peut être considéré comme tel que si
                    l'internaute est en mesure d'ouvrir un panier d'achats, d'y déposer
                    ses &quot;courses&quot; et de régler ce qu'il doit via un système de
                    paiement sécurisé.
                </p>
            </div>

            <div class="module-inspiration" style="background: #ffffff">
                <div class="module-inspiration-content">
                    <div class="module-inpiration-float-left">
                        <img src="{{asset('asset/tmp/inspiration/pack-web-eco-107.png')}}" alt="icon pack eco" />
                    </div>
                    <div class="module-inpiration-float-right">
                        <p class="module-inspiration-titre" style="color: #444444; margin-top: 50px">
                            Pack Eco
                        </p>
                        <p class="module-inspiration-texte" style="color: #444444">
                            - Création d'un catalogue en ligne<br />
                            - Nombre de pages intégrées : 5 à 20 ou +<br />
                            - Hébergement et nom de domaine inclus<br />
                            - Lien vers vos réseaux sociaux<br />
                            - Encodage HTML5, PHP, CSS3, JavaScript<br />
                            - Cession de droits (le site vous appartient)<br />
                            - Petit catalogue
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="module-inspiration" style="background: #ffffff">
                <div class="module-inspiration-content">
                    <div class="module-inpiration-float-right">
                        <p class="module-inspiration-titre" style="color: #444444; margin-top: 50px">
                            Pack Standard
                        </p>
                        <p class="module-inspiration-texte" style="color: #444444">
                            - Création d'un catalogue en ligne - Nombre de pages à la
                            demande<br />
                            - Hébergement et nom de domaine inclus <br />
                            - Lien vers vos réseaux sociaux<br />
                            - Encodage HTML5, PHP, CSS3, JavaScript <br />
                            - Cession de droits (le site vous appartient)<br />
                            - Administration en backoffice<br />
                            - Catalogue moyen<br />
                        </p>
                    </div>
                    <div class="module-inpiration-float-left">
                        <img src="{{asset('asset/tmp/inspiration/pack-standard-web-773.png')}}" alt="icon pack standard" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="module-inspiration" style="background: #ffffff">
                <div class="module-inspiration-content">
                    <div class="module-inpiration-float-left">
                        <img src="{{asset('asset/tmp/inspiration/pack-pro-web-510.png')}}" alt="icon pack pro" />
                    </div>
                    <div class="module-inpiration-float-right">
                        <p class="module-inspiration-titre" style="color: #444444; margin-top: 50px">
                            Pack Professionnel
                        </p>
                        <p class="module-inspiration-texte" style="color: #444444">
                            - Création graphique et développement du catalogue<br />
                            - Nombre de pages à la demande<br />
                            - Hébergement et nom de domaine inclus<br />
                            - Lien vers vos réseaux sociaux<br />
                            - Encodage HTML5, PHP, CSS3, JavaScript<br />
                            - Cession de droits (le site vous appartient)<br />
                            - Administration en backoffice<br />
                            - Optimisation référencement SEO<br />
                            - Catalogue à la demande<br />
                            - Ajout, édition, suppression d'article en backoffice<br />
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="module-texte">
                <h3>Osez rêver d’un catalogue à votre image</h3>
                <p>
                    Multiplier ses contacts en passant par le <strong>web</strong> est
                    une incroyable perspective de <strong>développement</strong> pour
                    votre business et une façon d’acquérir un statut valorisant de toute
                    autre envergure. Le <strong>Web Marketing</strong> est depuis
                    quelques années, devenues le vecteur essentiel d'un nouveau moyen de
                    <strong>communiquer</strong> et de consommer. Il est nécessaire pour
                    toute <strong>entreprise</strong> de présenter son activité sur le
                    <strong>web</strong> afin d’étendre son secteur d'activité, mais
                    aussi et surtout pour se démarquer de la concurrence toujours très
                    vive. <br />
                </p>
                <p>
                    Imaginez tous ses futurs clients qui pourront en quelques clics
                    d'accéder à vos produits grâce à votre site d’e-commerce ou à la
                    connaissance de votre activité grâce à votre
                    <strong>site vitrine</strong>. Internet est sans conteste l’outil
                    indispensable pour une <strong>communication</strong> optimale.
                </p>
            </div>

            <div class="module-inspiration" style="background: #ffffff">
                <div class="module-inspiration-content">
                    <div class="module-inpiration-float-left">
                        <img src="{{asset('asset/tmp/inspiration/5-minutes-logo-857.png')}}" alt="devis site internet 5 min" />
                    </div>
                    <div class="module-inpiration-float-right">
                        <p class="module-inspiration-titre" style="color: #444444; margin-top: 210px">
                            Votre devis en 5 minutes !
                        </p>
                        <p class="module-inspiration-texte" style="color: #444444">
                            Calculez le coût de réalisation de votre site internet, au plus
                            juste, en moins de 5 minutes !
                        </p>
                        <p class="module-inspiration-lien">
                            <a href="../../website.html" style="color: #444444">DEVIS EN LIVE, cliquez ICI</a>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="module-texte">
                <h5>Responsive Design</h5>
                <p>
                    Des sites qui s’adaptent à l'ensemble des outils numériques du
                    moment. Devant l'augmentation des outils numériques utilisés par les
                    particuliers, mais aussi par les professionnels de type tablettes,
                    smartphones, ordinateurs portables… Nous pouvons concevoir des sites
                    en Responsive design. Cette méthode est à présent incontournable
                    pour être vue par le plus grand nombre de personnes dans les
                    meilleures conditions possibles de navigation. <br />
                </p>
                <p>
                    En quoi consiste le responsive design ? La taille de la fenêtre où
                    s’affiche le site s’adapte automatiquement à l’outil. La
                    consultation est donc optimale, la lecture et la navigation
                    facilitée.
                    <br />
                    Aujourd'hui un peu plus de 50% de la population mondiale utilise
                    internet avec son téléphone, il est donc important d'avoir un site
                    internet responsive qui s'adapte sur n'importe quelles résolutions
                    d'écran, que ce soit sur un téléviseur, sur ordinateur, sur une
                    tablette, sur un téléphone.
                    <br />
                </p>
                <p>
                    C'est pour cela que nous assurons l'entière adaptation de votre site
                    internet.
                </p>
            </div>

            <div class="module-inspiration" style="background: #b8b8b8">
                <div class="module-inspiration-content">
                    <div class="module-inpiration-float-right">
                        <p class="module-inspiration-titre" style="color: #ffffff; margin-top: 210px">
                            On vous pousse <br />vers le haut !
                        </p>
                        <p class="module-inspiration-texte" style="color: #ffffff">
                            Notre motivation première : faire le maximum pour votre
                            réussite. Parce que participer au bon fonctionnement de votre
                            entreprise se répercute sur l'image de notre société, nous
                            serons les premiers à vous soutenir et à vous pousser vers le
                            haut !
                        </p>
                        <p class="module-inspiration-lien">
                            <a href="../../nous-contacter.html" style="color: #ffffff">Contactez-nous pour une offre
                                sur-mesure et sans engagement
                                <br />
                                CLIQUEZ ICI</a>
                        </p>
                    </div>
                    <div class="module-inpiration-float-left">
                        <img src="{{asset('asset/tmp/inspiration/pousse-vers-haut-266.png')}}" alt="createur entreprise" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="module-texte">
                <h4>L'importance d'un bon référencement pour votre site Internet</h4>
                <p>
                    Le bon référencement du site Internet de votre entreprise s’inscrit
                    dans le cadre de la stratégie marketing globale destiné à parfaire
                    l'image de marque et maintenir un lien permanent et direct avec vos
                    consommateurs, fournisseurs et différents partenaires. <br />
                </p>
                <p>
                    Avoir un site internet est un vrai avantage. Toutefois, il faut que
                    celui-ci soit visible. Référencer son site internet est impératif
                    pour que ce dernier soit visible. Aujourd'hui, le principal moyen
                    d'accès à Internet est l'outil de recherche, il faut donc apparaître
                    dans les premiers résultats pour avoir le plus de chance d'être
                    visité par les internautes.
                </p>
            </div>

            <div class="module-inspiration" style="background: #dbf7ff">
                <div class="module-inspiration-content">
                    <div class="module-inpiration-float-left">
                        <img src="{{asset('asset/tmp/inspiration/seo-669.png')}}" alt="icon référencement seo" />
                    </div>
                    <div class="module-inpiration-float-right">
                        <p class="module-inspiration-titre" style="color: #444444; margin-top: 210px">
                            Sans référencement, rien n'est possible !
                        </p>
                        <p class="module-inspiration-texte" style="color: #444444">
                            Soigner son référencement est devenu indispensable aujourd'hui.
                            Être bien référencé c'est pouvoir être trouvé par les
                            internautes à partir des quelques mots clés saisis sur Google ou
                            autre moteur de recherche soit se rendre visible. Pour cela, il
                            faut donc que son site soit connu des moteurs de recherche. Sans
                            visibilité avoir un site web ne sert a rien !<br />
                            Le terme de référencement regroupe à la fois le référencement
                            naturel (SEO) et le référencement payant ou campagne de liens
                            sponsorisés (SEA).
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>


		<div class="module-essentiel">
			<div class="module-essentiel-content">
				<p class="module-essentiel-titre">L'essentiel</p>
				<div class="module-essentiel-blocks">
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Obtenir un devis gratuit
						</div>
						<div class="module-essentiel-block-texte">
							Faites-nous part de votre demande précise par e-mail en
																																			                  indiquant le type de besoin, la quantité, les dimensions, la
																																			                  finition, etc. Vous recevrez votre devis dans un délai maximum
																																			                  de 48 heures.
						</div>
						<div class="module-essentiel-block-contactez-nous">
							<a href="../nous-contacter.html">
								<i class="fas fa-envelope" aria-hidden></i>
								contactez-nous
																																								                    par mail</a>
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Commande urgente ?
						</div>
						<div class="module-essentiel-block-texte">
							Une demande en urgence ? Un projet de dernière minute ? Vous
																																			                  avez besoin de votre commande rapidement ?<br/>Nous avons
																																			                  toujours des solutions, renseignez-vous !
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Livraison gratuite*
						</div>
						<div class="module-essentiel-block-texte">
							Livraison gratuite pour toute commande effectuée sur notre
																																			                  site internet, en Algérie, et uniquement pour nos produits
																																			                  d'impression.
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">Testez-nous</div>
						<div class="module-essentiel-block-texte">
							Vous pouvez obtenir une démo ou une pré-maquette pour
																																			                  visualiser l'étendue de nos capacités créatives. Testez-nous,
																																			                  c'est gratuit et sans engagement* !
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">
							Facilités de paiement
						</div>
						<div class="module-essentiel-block-texte">
							Profitez de notre option de paiement flexible en deux tranches
																																			                  : un premier versement à la commande et un deuxième à la fin
																																			                  du projet lors de la livraison. Ainsi, vous pouvez démarrer
																																			                  votre activité sereinement tout en gérant votre budget !
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">Venez à l’agence</div>
						<div class="module-essentiel-block-texte">
							Vous pourrez y travailler directement avec l’un de nos
																																			                  graphistes*, toucher les matières de certains produits...,
																																			                  rien de mieux pour avancer efficacement et selon vos
																																			                  directives. Repartez avec votre devis et votre maquette.
						</div>
						<div class="module-essentiel-block-condition">
							*Voir conditions
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">On vous rappelle</div>
						<div class="module-essentiel-block-texte">
							Vous n’arrivez pas à nous joindre par téléphone ? Laissez-nous
																																			                  votre numéro, et nous vous rappellerons dans la journée.
						</div>
						<div class="on-vous-rappelle">
							<input type="text" placeholder="Notez ici votre numéro" id="on-vous-rappelle-input"/>
							<button id="on-vous-rappelle-button">
								<i class="fas fa-paper-plane" aria-hidden></i>
							</button>
							<div class="on-vous-rappelle-message" id="on-vous-rappelle-message"></div>
						</div>
					</div>
					<div class="module-essentiel-block">
						<div class="module-essentiel-block-titre">Appelez-nous</div>
						<div class="module-essentiel-block-texte">
							Vous avez des questions sur l’un de nos produits&nbsp;? Vous
																																			                  souhaitez avoir l’avis d’un spécialiste&nbsp;? Vous souhaitez
																																			                  un rendez-vous&nbsp;?
						</div>
						<div class="module-essentiel-block-telephone">
							<span>+213</span>
							(0) 797 80 20 48
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="module-info">
			<div class="module-info-content">
				<div class="module-info-item">
					<img src="../asset/img/check.svg" alt="Engagement qualité, poseurs qualifiés" class="module-info-item-img"/>
					<div class="module-info-item-title">
						Engagement qualité,<br/>développeurs experts
					</div>
					<div class="module-info-item-text">
						Votre projet est entièrement pris en charge
						<br/>du
																														                développement à la mise en ligne.
					</div>
				</div>
				<div class="module-info-item">
					<img src="{{asset('asset/img/phone.svg')}}" alt="Un service téléphonique disponible" class="module-info-item-img"/>
					<div class="module-info-item-title">
						Un service<br/>téléphonique disponible
					</div>
					<div class="module-info-item-text">
						7J/7 de 9h à 12h00<br/>
						et de 14h à 19h00.
					</div>
				</div>
				<div class="module-info-item">
					<img src="{{asset('asset/img/pencil.svg')}}" alt="Des créatifs dédiés à votre projet" class="module-info-item-img"/>
					<div class="module-info-item-title">
						Des créatifs dédiés<br/>à votre projet
					</div>
					<div class="module-info-item-text">
						Des créations originales<br/>et sur-mesure.
					</div>
				</div>
			</div>
		</div>

	</main>

	<div class="bubble-question" id="bubble-question">
		<span class="bubble-question-tooltip">VOUS AVEZ DES QUESTIONS ?</span>
		<div class="bubble-question-content" id="bubble-question-content">
			<div class="bubble-question-content-title">
				VOUS AVEZ DES QUESTIONS ?
			</div>
			<div class="bubble-question-content-close" id="bubble-question-content-close">
				&times;
			</div>
			<div class="bubble-question-container-1" id="bubble-question-container-1">
				<div class="bubble-question-container-1-line bubble-question-container-1-line-1">
					Téléphonez-nous :<br/>0554 29 35 40
					<i class="fas fa-phone" aria-hidden></i>
				</div>
				<div class="bubble-question-container-1-line bubble-question-container-1-line-2" id="bubble-question-container-1-line-2">
					Cliquez ici pour nous<br/>laisser un message
					<i class="fas fa-envelope" aria-hidden></i>
				</div>
			</div>
			<div class="bubble-question-container-2" id="bubble-question-container-2">
				<label for="bubble-input-1">Nom :</label>
				<input type="text" name="name" id="bubble-input-1" autocomplete="off"/>
				<label for="bubble-input-2">Email :</label>
				<input type="text" name="email" id="bubble-input-2" autocomplete="off"/>
				<label for="bubble-input-3">Message :</label>
				<textarea name="content" id="bubble-input-3"></textarea>
				<div class="bubble-btn" id="bubble-btn" data-link="../../asset/core/live-contact.html">
					Envoyer
				</div>
			</div>
		</div>
	</div>




<script src="{{asset('asset/js/main.min38d1.js?id=534d2bccc6f75be47b39')}}"></script>
<script src="{{asset('asset/js/min/app.minc61c.js?id=e8617fbfb7694bb14a80514d77aa7472ab6376a1')}}" async></script>
<noscript id="deferred-styles">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,400italic,700"/>
</noscript>

<script>
	var loadDeferredStyles = function () {
var addStylesNode = document.getElementById("deferred-styles");
var replacement = document.createElement("div");
replacement.innerHTML = addStylesNode.textContent;
document.body.appendChild(replacement)
addStylesNode.parentElement.removeChild(addStylesNode);
};
var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
if (raf) 
raf(function () {
window.setTimeout(loadDeferredStyles, 0);
});
 else 
window.addEventListener('load', loadDeferredStyles);
</script>{% endblock %}
